<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <!--<add key="email" value="jesus.garibay@corpuscfdi.com.mx,manuel.sanchez@corpuscfdi.com.mx" />
    <add key="emailAll" value="jesus.garibay@corpuscfdi.com.mx,ivan@esn.com.mx,manuel.sanchez@corpuscfdi.com.mx" />-->
    <add key="DefaultLanguage" value="es-Mx"/>
    <add key="SystemName" value="CORPUSCFDI"/>
    <add key="emailAppFrom" value="noreply@corpuscfdi.com.mx"/>
    <add key="HSM.xmCryptoService" value="https://192.168.0.12:8443/xmc/services/xmCryptoService"/>
    <add key="SharedAccesSignature" value="?st=2011-12-12T18%3A36%3A27Z|se=2012-12-12T18%3A36%3A27Z|sr=c|si=WriteOnlyYearly|sig=jnfAwgaRBT0Uwd1vOni4h32PZSjBQzSXWb5sH21GgWE%3D"/>
    <add key="BlobStorageEndpoint" value="https://cfditesting31.blob.core.windows.net/"/>
    <add key="ContainerName" value="pnu111201ua9"/>
 <!---__________________________________________________________________________________________________________________-->

    <add key="XmlBeatriz" value="C:\Users\Ismael Hidalgo\Desktop\Beatriz.xml"/>
  
  
  </appSettings>

  <connectionStrings>

   <!-- 192.168.3.106-->
    <add name="conConfiguracion" connectionString="wrTCvMS3w5zDosOaw47CvMOtxLzvv4E5RjsGSzbvv63vv687NxcqOu+/tO++vO+/gisTLDVEE++/h+++uCFAQ1phKO+/pO++nRszTkdkNu+/n+++uhsYHi8zF++/ne+/r0s7TVoYGu+/ne+/oE1EQ1px77+n77+B77+rPkEXOmo877+d7764LUU/WBgQ77687766G0FITGEu77+t77+vOTVDVWYC77+I77+eS0VRVWor776177+DDDVOW2oo77+w776uCEA5KWYN"
		providerName="System.Data.SqlClient" />

    <add name="conControl" connectionString="ZGzDgsOPw5HCinjCt8ORwrHvv6bvv7YHOwwAAigU77+477+4FzDvv6/vv4Dvv7fvv6fvv6jvv5QsO++/ue+/nwLvv53vv54BQ2AW77+0H++/gu+/mO+/tE5NGQIa77+f77+Y77+ZHjXvv6jvv6MYFAjvv7xNYO+/je+/phgFCgVDYCbvvrPvv7wQ77+7AhdAHwgY77+d77+qBj9e77+N77+c77+377+f77+YAkhgHwIf77+d77+l77+0TV8kAiUG77+S77+ZDk8hCCUDDe+/hApaDO+/lu+/o++/sgcCJQ=="
		providerName="System.Data.SqlClient" />

    <add name="conInicioSesion" connectionString="Q0ttwqJNwprCtMKlwrVOGgJqCu++r++/se+/vWpIBFvvv6bvv5Pvv6Dvvrs5G++/tDfvv7vvv57vv6rvv5pEEe+/qmQSAwfvv69h77+277+kVx3vv7AK77+9XBPvv6Q877+t77+Y77+Z77+eWkgUXxwD776+77+hWjkWaBIDF+++rj5EB2Xvv6bvv6MQA1oR77+2aQ4B776+77+XORPvv6pkEu+/sgfvv71IOxRfGO+/ve+/me+/nlZJFG0YAQLvv4s5ChVlHO+/mAzvv7dYPxBJDgIH77+9Yxzvv5VZHQQQ77+vbQfvv5Fk" providerName="System.Data.SqlClient" />

    <!--<add name="conConsultas" connectionString="wpDCmMO4w4XDs8Sew5fCvsKiw5nvv5wsEe+/k++/mSVdLAouAu++r++/vRQb77+777+dHu+/nu+/hAgeOgbvv5MUC++/my07TyPvvrgO77++77+mGj5dHu+/lQ7vv6PvvrYCDT4cCj4G77+lLe+/skEc77+7QA/vv5stSw4ABjEM776vDURjHO+/kyAQ77+XK++/sjfvv7vvv5UODO+/oCxHWivvv7k+77+Y77+CGkVhLgc9Ae++r++/vwZRKw0977++77+q77+qAlwW77+777+777+r" 
		providerName="System.Data.SqlClient" />-->

    <add name="conConsultas" connectionString="SVFow5t5wrPDicOUdMK2Je+/j0Tvv7fvvqDvv4hECFPvv5E177+T77+E7763Au+/lybvv4ER77+o77+P77+BIe+/ohzvvrc+77+/77+077+eNu+/vwHvvrExCu+/oe+/oUTvv7oe776xFu+/mu+/ie++sCXvv7hT77+hOQnvv7TvvpUo77+4RO+/o0Lvv7/vv7Tvv67vv7Xvv5xP77+UP++/k++/lO+/p0rvv7gc77+DQ++/u++/su++lR7vv5ce776xPwTvv7Pvv6pBB0Lvv6EL77+m77+h77+oSApQ77+gNO+/k++/hu++qTgHVu+/oDEO776x776lQ++/skTvvp4e77+R776g7762SAxP77+ROAjvv6/vv6NECFTvvo4gCO+/r++/mDoGVO+/lz7vv73vvqDvvrLvv7UHU++/ozU="
		providerName="System.Data.SqlClient" />

    <add name="conTimbrado" connectionString="UFjCglrCqlzCr1/CqcKxElcaVe+/gUQWFEBZCzHvv6Uz77+U77+jE0nvv6dG77+wPe+/s++/rgk/FF0VWggL77+uOQdoAl0WBgs577+sOO+/qizvv7cEQGkPZxUR77+6BDFrGF0Vau+/h++/qDxcFTHvv7VjHAQJSxlZExHvv7Dvv6MLSg9hA2MIAz0x77+2VRRkHg5AWu+/ozjvv5VlFhIiXxNWE1ILDhQqCWgWYwgX77+/JhQ="
		providerName="System.Data.SqlClient" />

    <add name="conAuditoriasBD" connectionString="esKCwpLDnsKzwo7Dq8Ksw5jCtizvv707Te++ryEROVrvv78sKe+/kxDvv48ILe+/rwg+77+eGu+/rhMj77+lNVUDNwMwCO+/nyhg77+wOhErJe+/nw0w77+YCe+/silaDzBfA++/ru+/tSlLETlVA0fvv4INVgI2Ke+/o0AXKSPvv7E6UQHvv67vv6sIJe+/nTxQ77+4QhE2Ue+/vTou77+TCe+/siVbDz5bATLvv58KHO+/vzthAS8a77+1GAo="
		providerName="System.Data.SqlClient" />

  </connectionStrings>

</configuration>
