<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wcfRecepcionASMXSoap" />
                <binding name="wcfRecepcionASMXSoap1">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfRecepcionASMXSoap2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:65247/PAXFacturacionPago_WS_T_C_DP_TEST/WebServices/wcfRecepcionASMX.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASMXSoap"
                contract="wsTimbrado.wcfRecepcionASMXSoap" name="wcfRecepcionASMXSoap" />
            <endpoint address="https://test.paxfacturacion.com.mx:453/webservices/wcfRecepcionASMX.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASMXSoap1"
                contract="wsTimbradoTest.wcfRecepcionASMXSoap" name="wcfRecepcionASMXSoap1" />
        </client>
    </system.serviceModel>
</configuration>