<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<!---106-->
		<add name="conConfiguracion" connectionString="u2epGOTUKV0gP/86myroa1hedcyS2DAbBXjMGPLZUxmTwTa7R+GK0TnP7SuAkFhj1Xb0SQpz0CABWbes6m6OLGSbWC8VGUFIA2so4JazSIxPkiOwXYnBVMgDLjzXz9LAoqNaAjM0l2R2TAW+G9bTV01QEacriiWJCr8BispVTtRHZN1a8uTSPUrgJNZdArQC49GfTKHeUm7PU0tWfXdM9wOJIFekUfEwT30g26QimZxF+jZmyOr+I1MGl+uizyK5xJF+8X+vMauR6ldeETmfLPswwH7+cyFOGEjDMJMTzP25ZskGeJGzXba+gmpANzEpa2BgdMl/Uu4DFsAidPpapdM1ElfVlUU/BJ9xR2DXe8ERxoCQBNwEVPOzFu52ZpLi" providerName="System.Data.SqlClient"/>
		<add name="conControl" connectionString="u2epGOTUKV0gP/86myroa1hedcyS2DAbBXjMGPLZUxmTwTa7R+GK0TnP7SuAkFhj1Xb0SQpz0CABWbes6m6OLGSbWC8VGUFIA2so4JazSIxPkiOwXYnBVMgDLjzXz9LAoqNaAjM0l2R2TAW+G9bTV01QEacriiWJCr8BispVTtRHZN1a8uTSPUrgJNZdArQC49GfTKHeUm7PU0tWfXdM9wOJIFekUfEwT30g26QimZyk3f/OTSMdJNQumB4dFgqPSjxuGNnsQtiEY7keLXhsFJ1umisZaVZNTscB1o/yha4LlHxVqZqdDuDZKIKsYOYZCygdQK6NpJs5k52GhnCBYRHGgJAE3ARU87MW7nZmkuI=" providerName="System.Data.SqlClient"/>
		<add name="conInicioSesion" connectionString="u2epGOTUKV0gP/86myroa1hedcyS2DAbBXjMGPLZUxmTwTa7R+GK0TnP7SuAkFhj1Xb0SQpz0CABWbes6m6OLGSbWC8VGUFIA2so4JazSIxPkiOwXYnBVMgDLjzXz9LAoqNaAjM0l2R2TAW+G9bTV01QEacriiWJCr8BispVTtRHZN1a8uTSPUrgJNZdArQC49GfTKHeUm7PU0tWfXdM9wOJIFekUfEwT30g26QimZyl7B1ADC80LvgzoxoQOZt/6FPg1CX6zYr77uqN7wrieWOm/N2u/jozEcMgB/P3iB8PVONsfQ0yddjFB9fyYilzJ7NOm4zowfXZiNNmAQq/u+LJuZ7I+bI0Es/eKitV2ZfQQ0aheRYtxKzzE3iqobbXEcaAkATcBFTzsxbudmaS4g==" providerName="System.Data.SqlClient"/>
		<add name="conConsultas" connectionString="u2epGOTUKV0gP/86myroa1hedcyS2DAbBXjMGPLZUxmTwTa7R+GK0TnP7SuAkFhj1Xb0SQpz0CABWbes6m6OLGSbWC8VGUFIA2so4JazSIxPkiOwXYnBVMgDLjzXz9LAoqNaAjM0l2R2TAW+G9bTV01QEacriiWJCr8BispVTtRHZN1a8uTSPUrgJNZdArQC49GfTKHeUm7PU0tWfXdM9wOJIFekUfEwT30g26QimZwkbO13fo9mFcyfyTi8qZ3+5JGLKqIXYyadIHMY8XzAN1ij0vCrufYCk6Ak5O5jILKzzeHoCpHydpSLrGeFqSAb7wUC1psHkjqnrMfrBMCitPICsr8+Zmlmh8dc1UK56aLoQE8Y8Tpsyn2T0jihdqxfGvKVlsQNG565ymu+W4ANAsPBFG1+9FEd3HMPaYZJSFkRxoCQBNwEVPOzFu52ZpLi" providerName="System.Data.SqlClient"/>
		<add name="conTimbrado" connectionString="u2epGOTUKV0gP/86myroa1hedcyS2DAbBXjMGPLZUxmTwTa7R+GK0TnP7SuAkFhj1Xb0SQpz0CABWbes6m6OLGSbWC8VGUFIA2so4JazSIxPkiOwXYnBVMgDLjzXz9LAoqNaAjM0l2R2TAW+G9bTV01QEacriiWJCr8BispVTtRHZN1a8uTSPUrgJNZdArQC49GfTKHeUm7PU0tWfXdM9wOJIFekUfEwT30g26QimZzq+G7PQazxId9c6apAO1RXkIzZhUTHHGqjEithFg3hBS+GxADUPP/Js37QdAoTIF80M1T0yoinTFhL1JyVYfrdNDDUHO1h/RpaT9CmHU9+xCpIjhmWEBS067NcPYt9cpARxoCQBNwEVPOzFu52ZpLi" providerName="System.Data.SqlClient"/>
		<!---107-->
		<!--<add name="conConfiguracion" connectionString="qBwPUrET+pRMQdpWj4wCB8AokleB9LbT0yB2MlUDhCOaXJmW+Mt8SjYv4awkrOfDOiB6ZaSc5IbK26id0zxtHKCJ526EFx/vz/nKjW+SoJfjSWESGpKuhse6vwJSk5XYFSff1Q3k5AqCDcvXAXiVJxVbqums5zhKNHpQR2R4XQDX3p/B2+tlGSQ4Mt4kme89xqowylJzmhX1yKEQnPc22CgSfCUJJhUtN7WyoeJK82R3zR2G8Z129KEFWVkqg/9dKqxiTHP9mGvNz8T0+lTc2I9ksgFrJJxTb76znuPJ6VHFiQqDKGuMCAJH/vbBVAV9MgJQa4a0BMsrHui7NYX6vfom69J2JwD7vVo0Y+it7PiCPc1YbGnKANaNWSxuPmLs" providerName="System.Data.SqlClient" />
    <add name="conControl" connectionString="fkREiJdFgMUA3jzaaUtPH+cgiuss8dFZpJ4OH6RaxdkmP0cA4SUkjL9qlSsNtTKaFogDrJ04LVncU2/tKX5JD6awisRRrJwH5yKZi4B4RwMUQQZ2v4yviBlXiV2XXH8N4yY3Len7IzC6ULt0kmSREmkvbOUPIXfXNHKKBN5+5DgzNCTKpEaSbU9BoGpMO5IniMJ3iLpkSQFD9mdBMyDW8oiAyipRQULzpQktWAqeXlSIsc1fIv7sEgQ/waM+RE81/2660iYnIxMCRoBCd19c4M5AM+Cz6ZZxWxYk8SdjcXvT3EfQBF5SBuPE9xfCcox8AF7b5RUfOFNGlGYn3qqgfPtgyVXkD5iUdqGA+Mc0lm8=" providerName="System.Data.SqlClient" />
    <add name="conInicioSesion" connectionString="JgYpPYVauNRZt35pp1UhqmCCUdQVCxFYs0+9DkErXP8hzAqPH+o0p0spxXBTuOG0h5S11eH5Jn3qA9EF41vYY/jI+H+Ajvaci1PZ6+GIHr/wdAdrEscmydvjJE2/14q8qNQ98Cfz2cY+YwPSlqaHy0F3jTkPF83IO+t4GC85ADPCOBzd8+6ajyzWnRIzFN6WsPya/v83AJbQKg9sNnL2mXbNjtpmPPmkEOjISRqgg+Gq4f8cV1AyY8I0YwViDwmdVwMaQpFNJ8B6mpPIPa+9stha6VidLXcqbb8062Goico40sykOlIrrx3hPCkw0YTUxg8yKhNmFb4NK6iPqfpQSXA/IzFiKuXCzM5ZSLIy07QNuy8tLLXYRCUIH+BS5u4KVJofhmsFwdMT3/t1t7tFfQ==" providerName="System.Data.SqlClient" />
    <add name="conConsultas" connectionString="HAhENayJmaPzW2C6z/0APr1hDN/2Bn55Ay8BbtKaNJ4c/FISMhm5kAIbp3IFynvd90rjTK6wbW0wYE2yXxeeX+xwfsGxPQ/FbQHM55pr74jYJAK7U2dCdCzhP+vB0XzhbRzk9zWmqasAB0/Xvb3oGD0a/eQlx2goMjGWjwWXuJxNEC72dOX8aTEcGcq5EVs6Zm14FBlwtQ0nOq0Fi5u39x57AXrbnzui4TWWlWojFH81wwL2UPE/N+ya71YrVPjyPVulDvZH0T29TLQ0rLkJHseoSPodZdnQjhh2AXl2wrqBEB5cUKqSr2g2DnTlbjy/pU+dOWexPZ5aUj40ZcO66XGxuOnYU1/ajqWtqScsVw5lDc5vdsXlN46q9QGpPmLAbq3zIoeVlDae/T7phS6U3kSPsMQ9cKp2JGy1q1AfvdohvCLFyuKx9vzqxLDu5V67" providerName="System.Data.SqlClient" />
    <add name="conTimbrado" connectionString="moTHGoyNDsErXN4woLdpOonvBDvVfz2ccRVpie0TzPs+c/ffJ5+SEcxu+B25eCTjgpCTWxR5CD/tANYTrfaEBzrz5EDRFoQxaBSJZ9Ek8BukQR8ry/RbDiMEP8tI8r+9cdJYk12I++jU6I1YDl7ERD6PWPxR+RsN+dtPZTRd9eOg2toqZqXZYZ167BIhF2eFpzRJiaXa+DTy+YhAd0k3IbpHj//JAfzHq4uKuhJo6Hh2lyrZQk1T6jHr4hx2c16vByKcxK95qz1yI2rUTzaFEPdYHB6Su39D/mv42NTzaj6SKMZvnNGqxLDaNlQXHpu1fmq5n849A5RFM4PUd80C9tOHMqU5WCmlZQLEMYZbbfaGUcHrxDySEt3F2ZbxlBZm" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<appSettings>
		<add key="DefaultLanguage" value="es-Mx"/>
	</appSettings>
	<system.web>
		<globalization culture="Auto" uiCulture="Auto"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/InicioSesion/webInicioSesionLogin.aspx" name="sqlAuthCookie" timeout="10" defaultUrl="~/Default.aspx" path="/" slidingExpiration="true">
			</forms>
		</authentication>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
			</controls>
		</pages>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
