<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="sEntrada" value="C:\PAXConectorCapacitacion07\Entrada\"/>
    <add key="sSalida" value="C:\PAXConectorCapacitacion07\Salida\"/>
    <add key="sTxtProcesados" value="C:\PAXConectorCapacitacion07\TXT Procesados\"/>
    <add key="sLog" value="C:\PAXConectorCapacitacion07\Log\"/>
    <add key="sErrores" value="C:\PAXConectorCapacitacion07\Errores\"/>
    <add key="sCertificados"  value="C:\PAXConectorCapacitacion07\Certificados\" />
    <add key="sCancelaciones"  value="C:\PAXConectorCapacitacion07\Cancelaciones\" />
    <add key="sSalidaCancelaciones"  value="C:\PAXConectorCapacitacion07\Salida Cancelaciones\" />
    <add key="sTxtProcesadosCancelaciones" value="C:\PAXConectorCapacitacion07\TXT Procesados Cancelados\"/>
    <add key="sTipoDocumentoTimbre" value="01" />
    <add key="sIdEstructuraTimbre"  value="0" />
    <add key="sUsuarioTimbre" value="WSDL_PAX"/>
    <add key="sContraseñaTimbre"  value="wqrCssOUw4HDgMSUxJTDq8OkwrQXMnBpSS4Ocm/Cve+/te+9tu++me+/tiEc776v776B"/>
    <add key="sUsuarioCancelacion"  value="wsdl_pax"/>
    <add key="sContraseñaCancelacion" value="wrnDgcOvxYXEr8OKw6jDm8WDxYXCgzV5xLTEgMKoXk/EjcK5776k77+V77+QMu++qe++s++9se+8kw=="/>
    <add key="sVersionTimbre" value="3.3"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wcfRecepcionASMXSoap">
          <security mode="Transport" />
        </binding>
        <binding name="wcfRecepcionASMXSoap1" />
        <binding name="BasicHttpBinding_IService1" />
        <binding name="wcfCancelaASMXSoap">
          <security mode="Transport" />
        </binding>
        <binding name="wcfCancelaASMXSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.3.62/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="wsXML.IService1"
        name="BasicHttpBinding_IService1" />
      <endpoint address="https://test.paxfacturacion.com.mx:453/webservices/wcfRecepcionASMX.asmx"
        binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASMXSoap"
        contract="wsTimbrado.wcfRecepcionASMXSoap" name="wcfRecepcionASMXSoap" />
      <endpoint address="https://test.paxfacturacion.com.mx:476/webservices/wcfCancelaASMX.asmx"
        binding="basicHttpBinding" bindingConfiguration="wcfCancelaASMXSoap"
        contract="wsCancela.wcfCancelaASMXSoap" name="wcfCancelaASMXSoap" />
    </client>
  </system.serviceModel>
</configuration>