/*principal*/
#menu1
{
}

/*Items principales*/
.level1
{
    color: white;
    background-color: Black;
    margin-right: 20px;
}
/*Items Secundarios*/
.level2
{
    color: white;
    background-color: green;
}
/*Items Secundarios de los Secundarios*/
.level3
{
    color: white;
    background-color: Lime;
}
/*Hover Items principales*/
.SHoverStyle
{
    background: red;
    color:White;
}
/*Hover Items secundarios*/
.DHoverStyle
{
    background: red;
    color:White;
}

