<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SolucionPruebas.WindowsService.ActualizaComprobante.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
  <connectionStrings>
    <!--106-->
    <add name="conConsultas" connectionString="SVFow5t5wrPDicOUdMK2Je+/j0Tvv7fvvqDvv4hECFPvv5E177+T77+E7763Au+/lybvv4ER77+o77+P77+BIe+/ohzvvrc+77+/77+077+eNu+/vwHvvrExCu+/oe+/oUTvv7oe776xFu+/mu+/ie++sCXvv7hT77+hOQnvv7TvvpUo77+4RO+/o0Lvv7/vv7Tvv67vv7Xvv5xP77+UP++/k++/lO+/p0rvv7gc77+DQ++/u++/su++lR7vv5ce776xPwTvv7Pvv6pBB0Lvv6EL77+m77+h77+oSApQ77+gNO+/k++/hu++qTgHVu+/oDEO776x776lQ++/skTvvp4e77+R776g7762SAxP77+ROAjvv6/vv6NECFTvvo4gCO+/r++/mDoGVO+/lz7vv73vvqDvvrLvv7UHU++/ozU="
  providerName="System.Data.SqlClient" />
    <add name="conTimbrado" connectionString="UFjCglrCqlzCr1/CqcKxElcaVe+/gUQWFEBZCzHvv6Uz77+U77+jE0nvv6dG77+wPe+/s++/rgk/FF0VWggL77+uOQdoAl0WBgs577+sOO+/qizvv7cEQGkPZxUR77+6BDFrGF0Vau+/h++/qDxcFTHvv7VjHAQJSxlZExHvv7Dvv6MLSg9hA2MIAz0x77+2VRRkHg5AWu+/ozjvv5VlFhIiXxNWE1ILDhQqCWgWYwgX77+/JhQ="
  providerName="System.Data.SqlClient" />
    <!--107-->
    <!--<add name="conConsultas" connectionString="wq7CtsSsw4vDmcOewr/EjMONw7vvv4ZESTEP77+1UCjvv7RGOg0477+vMe+/v++/hzAaHkPvv6Mk77+877+RMRAZXQtVHO+/o0/vv7UTUBZCH++/sUoSEzXvv6Yq77+u77+SSEdDWBVV77+T77+VSDhFYQtVLO++oixDNl7vv581Je+/t0gQJWIHU++/k++/iycSE14QVCjvv65XNkMq77+yQibvv7VaREJT77+fJ++/p++/pVdKQlAaEu+/o++/sEI4AD3vv50B77+077+1XEMzVxRQIe+/sVhI77+wPxRQFu+/p1ZIOV0JAe+/sO++oldHRVQ="
  providerName="System.Data.SqlClient" />
    <add name="conTimbrado" connectionString="cHjDtcKCfMKlw63DpMO8wrjvvr9PaCzvvqPvv5/vv6Mt77+tUVkI77+M77+Z77+EBO+/gDs5Ge+/l++/je++twHvv4o8LxTvv7Hvv7Xvv6gh77+cWhQO77+kAO+/lSTvv6pVMQ7vv4nvv5Dvvr3vv7Pvv4tTZj7vv6zvv7/vv6jvv5jvv45TV0Dvv7Xvv7Xvv6gx776bN2Ix77+y77+J77+IKu+/sFMvIO+/tu+/se+/pu+/mO+/hDIxH++/rO+/ue+/lirvv5xSYwbvv5Pvv63vv6cr77+yXWYv77+A77+Q776oLO+/qmFINO+/sO+/ru+/phnvv59dOu+/v++/pgDvv6kq77+cZiXvv7vvv7E="
  providerName="System.Data.SqlClient" />-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <SolucionPruebas.WindowsService.ActualizaComprobante.Properties.Settings>
          <setting name="LogError" serializeAs="String">
            <value>C:\ActualizacionComprobantes\Errores\</value>
          </setting>
          <setting name="LimiteInferior" serializeAs="String">
            <value>0</value>
          </setting>
          <setting name="RegistrosPagina" serializeAs="String">
            <value>1000</value>
          </setting>
          <setting name="Log" serializeAs="String">
            <value>C:\ActualizacionComprobantes\Log\</value>
          </setting>
          <setting name="Hora" serializeAs="String">
            <value>14</value>
          </setting>
          <setting name="Minutos" serializeAs="String">
            <value>53</value>
          </setting>
          <setting name="Intervalo" serializeAs="String">
            <value>300000</value>
          </setting>
        </SolucionPruebas.WindowsService.ActualizaComprobante.Properties.Settings>
    </userSettings>
</configuration>
