<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
		<add name="conRecepcionProveedores" connectionString="wpzCpMO9wqXEhsOKxKrCpsKjwqjvv6NYCjPvvpJJaGkRWu+/uw/vvqMvKyLvv5At77+OAO++pCQqJ++/mkAEO++/pl9aYO++vzrvv7dG77+TYmhb77+cR++/lyrvv4RbXFkPWu+/v0Hvv6BGa2MVXO+/uzbvv6FoXmfvv5pH77+7RO+/pV9saO++v0rvv7s177+naGJoGBfvv59A77+YZTZIEWzvv7sN77+HaV5m776/QO+/mg/vv6VXNEQAaglJ77+haF0x77+lK++/uUbvv6doWmzvv5AnBA==" providerName="System.Data.SqlClient"/>
		<add name="conConsultas" connectionString="w4TDjMS8xYHDlsSHxJDFi8WExJ3vv4zvv6RiHu+/lO+/jO+/rxzvv7rvv6ZT77+677+l776y776y77+V77657765Ju+/q++/pu++p+++se+/mu+/g++/jFwmKO+/ou+/oRPvvqjvv4ZPMRXvv6Xvv68O77+F77+TLxUG77+e77+jDO+/uO+/plcsIu+/ie+/shbvv77vv6hTISPvv6vvv6Ua77+D77+TUy8n77+i77+zG+++qO+/llMgKe+/q++/qRsB776jNysa77+o776977+777+677+4U++/uAnvv6zvv6UZ776o77+MMu+/uifvv5rvvrvvv7fvv6nvv7ZhNCPvv6vvv6Tvv6Tvv47vvrdRMSnvv6vvv6Ef7765776zXO+/uO+/lO++uu+/syDvv7bvv6ZWLyPvv6fvv68c77+7776jPi8j77+c77+lGu+/u++/rFwk77+U7762776gG++/uu+/uFM="/>
	</connectionStrings>
	<appSettings>
		<!--<add key="email" value="jesus.garibay@corpuscfdi.com.mx,manuel.sanchez@corpuscfdi.com.mx" />
    <add key="emailAll" value="jesus.garibay@corpuscfdi.com.mx,ivan@esn.com.mx,manuel.sanchez@corpuscfdi.com.mx" />-->
		<add key="DefaultLanguage" value="es-Mx"/>
		<add key="SystemName" value="CORPUSCFDI"/>
		<add key="emailAppFrom" value="noreply@corpuscfdi.com.mx"/>
		<add key="HSM.xmCryptoService" value="https://192.168.0.12:8443/xmc/services/xmCryptoService"/>
		<add key="SharedAccesSignature" value="?st=2011-12-12T18%3A36%3A27Z|se=2012-12-12T18%3A36%3A27Z|sr=c|si=WriteOnlyYearly|sig=jnfAwgaRBT0Uwd1vOni4h32PZSjBQzSXWb5sH21GgWE%3D"/>
		<add key="BlobStorageEndpoint" value="https://cfditesting31.blob.core.windows.net/"/>
		<add key="ContainerName" value="pnu111201ua9"/>
		<add key="usuarioWS" value="WSDL_PAX"/>
		<add key="pwdUsuarioWS" value="w4DDiMSiw5fFisWOxZHEmMOIw7sjdjFr77++wqDCin/CgMON776Q772w77+a776aTe+/se+9su++tQ=="/>
		<add key="pruebas_validacion" value="True"/>
		<add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/" value="2747;True;5100;1;-8588371814076168563"/>
		<add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup"/>
		<add key="wsTestValidacion.wcfValidaasmx" value="https://test.paxfacturacion.com.mx:454/webServices/wcfValidaasmx.asmx"/>
		<add key="wsProduccionValidacion.wcfValidaasmx" value="https://www.paxfacturacion.com.mx:454/webServices/wcfValidaasmx.asmx"/>
	</appSettings>
	<location path="Consultas">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Exceles">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Timbrado">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Scripts">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Imagenes">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="mnu_images">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Styles">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="WebControls">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="webGlobalMision.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="webGlobalProcesoBaja.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="webGlobalVision.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="webGlobalValores.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="webGlobalInformacion.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="webGlobalTerminos.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="webConsultasGeneradorPDF.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="webConsultasGeneradorXML.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="captcha.ashx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="webGlobalError.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

  <location path="webInicio.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
	<location path="Banner.gif">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="logo_pax.png">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<authentication mode="Forms">
      <forms loginUrl="~/InicioSesion/webInicioSesionLogin.aspx" name="sqlAuthCookieCasaGrande" defaultUrl="~/Default.aspx"  timeout="20" path="/"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
		<globalization culture="Auto" uiCulture="Auto"/>
		<httpRuntime maxRequestLength="40000"/>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
