<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="DevExpress.Charts.v15.2.Core, Version=15.2.4.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Data.v15.2, Version=15.2.4.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Office.v15.2.Core, Version=15.2.4.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.PivotGrid.v15.2.Core, Version=15.2.4.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Printing.v15.2.Core, Version=15.2.4.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.RichEdit.v15.2.Core, Version=15.2.4.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Sparkline.v15.2.Core, Version=15.2.4.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraCharts.v15.2, Version=15.2.4.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraGauges.v15.2.Core, Version=15.2.4.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraReports.v15.2, Version=15.2.4.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>