<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PAXRegeneracionBateria.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <PAXRegeneracionBateria.Properties.Settings>
      <setting name="passwordFiel_F" serializeAs="String">
        <value>12345678a</value>
      </setting>
      <setting name="passwordFiel_M" serializeAs="String">
        <value>12345678a</value>
      </setting>
      <setting name="password256" serializeAs="String">
        <value>12345678a</value>
      </setting>
      <setting name="rutaArchivos" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Archivos Generados</value>
      </setting>
      <setting name="archivoXML" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Archivos XML\</value>
      </setting>
      <setting name="certificadoFiel_M" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\sul010720jn8.cer</value>
      </setting>
      <setting name="llaveFiel_M" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\SUL010720JN8.key</value>
      </setting>
      <setting name="certificadoAAQ" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\SOGJ700308AT8_1210231420S.cer</value>
      </setting>
      <setting name="llaveAAQ" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\SOGJ700308AT8_1210231420S.key</value>
      </setting>
      <setting name="certificadosSHA256" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="certificado2012" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\2012.cer</value>
      </setting>
      <setting name="llave2012" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\2012.key</value>
      </setting>
      <setting name="password2012" serializeAs="String">
        <value>12345678a</value>
      </setting>
      <setting name="certificadoPAC2012" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\PAC2012.cer</value>
      </setting>
      <setting name="llavePAC2012" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\PAC2012.key</value>
      </setting>
      <setting name="passwordPAC2012" serializeAs="String">
        <value>a0123456789</value>
      </setting>
      <setting name="version30" serializeAs="String">
        <value>-41</value>
      </setting>
      <setting name="version22" serializeAs="String">
        <value>-24</value>
      </setting>
      <setting name="version20" serializeAs="String">
        <value>-48</value>
      </setting>
      <setting name="FielVigente" serializeAs="String">
        <value>-10</value>
      </setting>
      <setting name="PACSPKey" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\CSD_AHO0505163C7.key</value>
      </setting>
      <setting name="PACSPCert" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\CSD_AHO0505163C7.cer</value>
      </setting>
      <setting name="SPKey" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\CACX871014U63.key</value>
      </setting>
      <setting name="SPCert" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\cacx871014u63.cer</value>
      </setting>
      <setting name="PAXRegeneracionBateria_HSM_xmCryptoService" serializeAs="String">
        <value>http://IP:8080/xmc/services/xmCryptoService</value>
      </setting>
      <setting name="certificadoBAJ" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\FIEL_Pruebas_BAJF541014RB3.cer</value>
      </setting>
      <setting name="llaveBAJ" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\FIEL_Pruebas_BAJF541014RB3.key</value>
      </setting>
      <setting name="certificadoPZA" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\CSD_Pruebas_CFDI_PZA000413788.cer</value>
      </setting>
      <setting name="llavePZA" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\CSD_Pruebas_CFDI_PZA000413788.key</value>
      </setting>
      <setting name="certificadoLAN" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\CSD_Pruebas_CFDI_LAN7008173R5.cer</value>
      </setting>
      <setting name="llaveLAN" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\CSD_Pruebas_CFDI_LAN7008173R5.key</value>
      </setting>
      <setting name="certificadoMAR" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\CSD_Pruebas_CFDI_MSE061107IA8.cer</value>
      </setting>
      <setting name="llaveMAR" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\CSD_Pruebas_CFDI_MSE061107IA8.key</value>
      </setting>
      <setting name="certificadoMSE" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\CSD_Pruebas_CFDI_MSE061107IA8.cer</value>
      </setting>
      <setting name="llaveMSE" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\CSD_Pruebas_CFDI_MSE061107IA8.key</value>
      </setting>
      <setting name="Productivos" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="passwordñ" serializeAs="String">
        <value>12345678a</value>
      </setting>
      <setting name="passwordAMP" serializeAs="String">
        <value>12345678a</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>CORPUSfacturacion2017+</value>
      </setting>
      <setting name="certificadoAMP" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\AB010822TW7.cer</value>
      </setting>
      <setting name="llaveAMP" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\AB010822TW7.key</value>
      </setting>
      <setting name="certificadoñ" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\bani7902011y4a.cer</value>
      </setting>
      <setting name="llaveñ" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\bani7902011y4a.key</value>
      </setting>
      <setting name="certificadoPac" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\CSD_PAC_CFDI_PRUEBAS.cer</value>
      </setting>
      <setting name="llavePac" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\CSD_PAC_CFDI_PRUEBAS.key</value>
      </setting>
      <setting name="certificado256" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\00001000000406474473.cer</value>
      </setting>
      <setting name="llave256" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\00001000000406474473.key</value>
      </setting>
      <setting name="certificadoFiel_F" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\FIEL_Pruebas_AAQM610917QJA.cer</value>
      </setting>
      <setting name="llaveFiel_F" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\FIEL_Pruebas_AAQM610917QJA.key</value>
      </setting>
      <setting name="certificadoSLU" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\CSD_Pruebas_CFDI_SUL010720JN8.cer</value>
      </setting>
      <setting name="llaveSLU" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\CSD_Pruebas_CFDI_SUL010720JN8.key</value>
      </setting>
      <setting name="certificado" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\00001000000406474473.cer</value>
      </setting>
      <setting name="llave" serializeAs="String">
        <value>D:\TEAM-FOUNDATION\PAX-PRACTICAS\PAXRegeneracionBateria\PAXRegeneracionBateria\Certificados\00001000000406474473.key</value>
      </setting>
      <setting name="puerto" serializeAs="String">
        <value>5555</value>
      </setting>
      <setting name="servicio" serializeAs="String">
        <value>10.54.57.207</value>
      </setting>
    </PAXRegeneracionBateria.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wcfRecepcionASMXSoap">
          <security mode="Transport" />
        </binding>
        <binding name="wcfRecepcionASMXSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://test.paxfacturacion.com.mx:453/webservices/wcfRecepcionasmx.asmx"
          binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASMXSoap"
          contract="wcfRecepcionASMX.wcfRecepcionASMXSoap" name="wcfRecepcionASMXSoap" />
    </client>
  </system.serviceModel>
</configuration>