<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wcfRecepcionASMXSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfRecepcionASMXSoap1" />
                <binding name="wcfCancelaASMXSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfCancelaASMXSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://test.paxfacturacion.com.mx:453/webservices/wcfRecepcionASMX.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASMXSoap"
                contract="Test.wcfRecepcionASMXSoap" name="wcfRecepcionASMXSoap" />
            <endpoint address="https://test.paxfacturacion.com.mx:476/webservices/wcfCancelaASMX.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfCancelaASMXSoap"
                contract="Cancel.wcfCancelaASMXSoap" name="wcfCancelaASMXSoap" />
        </client>
    </system.serviceModel>
</configuration>