<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="wsGeneraXml.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wcfRecepcionASMXSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="wcfRecepcionASMXSoap1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://test.paxfacturacion.com.mx:453/webservices/wcfRecepcionasmx.asmx" binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASMXSoap" contract="wcfRecepcionasmx.wcfRecepcionASMXSoap" name="wcfRecepcionASMXSoap"/>
        </client>
    </system.serviceModel>
    <userSettings>
        <wsGeneraXml.Properties.Settings>
            <setting name="LogError" serializeAs="String">
                <value>C:\wsGenerarXml\XML\LogErrores\</value>
            </setting>
            <setting name="TipoServicio" serializeAs="String">
                <value>GT</value>
            </setting>
            <setting name="rutaDocs" serializeAs="String">
                <value>C:\wsGenerarXml\XML\Docs\</value>
            </setting>
            <setting name="rutaDesconexion" serializeAs="String">
                <value>C:\wsGenerarXml\XML\TxtDesconexion\</value>
            </setting>
            <setting name="rutaCertificados" serializeAs="String">
                <value>C:\wsGenerarXml\XML\Certificados\</value>
            </setting>
            <setting name="rutaTXTGen" serializeAs="String">
                <value>C:\wsGenerarXml\XML\TXTGenerado\</value>
            </setting>
            <setting name="LogTimbrados" serializeAs="String">
                <value>C:\wsGenerarXml\XML\LogTimbres\</value>
            </setting>
            <setting name="urlHostComercial" serializeAs="String">
                <value>http://www.paxfacturacion.com.mx</value>
            </setting>
            <setting name="tipodocto" serializeAs="String">
                <value>Factura</value>
            </setting>
            <setting name="rutaDocInv" serializeAs="String">
                <value>C:\wsGenerarXml\XML\DocInvalido\</value>
            </setting>
            <setting name="rutaOpenssl" serializeAs="String">
                <value>C:\wsGenerarXml\OpenSSL\</value>
            </setting>
        </wsGeneraXml.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
