<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EntregaPendientes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EntregaPendientes.Properties.Settings>
            <setting name="directorioCfdi" serializeAs="String">
                <value>C:\Users\jesus.garibay\Desktop\SOLSER</value>
            </setting>
            <setting name="tipoDocumento" serializeAs="String">
                <value>factura</value>
            </setting>
            <setting name="estructura" serializeAs="String">
                <value>0</value>
            </setting>
        </EntregaPendientes.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceNadroSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    useDefaultWebProxy="true" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.54.57.204:8082/ServiceNadro.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceNadroSoap"
                contract="wfcRecepcionFacturas.ServiceNadroSoap" name="ServiceNadroSoap" />
        </client>
    </system.serviceModel>
</configuration>
