<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SolucionPruebas.GeneradorComprobantes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <SolucionPruebas.GeneradorComprobantes.Properties.Settings>
            <setting name="Intervalo" serializeAs="String">
                <value>3600000</value>
            </setting>
            <setting name="LogError" serializeAs="String">
                <value>C:\GeneradorComprobantes\LogErrores\</value>
            </setting>
            <setting name="RutaArchivos" serializeAs="String">
                <value>C:\GeneradorComprobantes\Entrada\</value>
            </setting>
            <setting name="ArregloArchivos" serializeAs="String">
                <value>1500, 2000, 3000, 5000, 10000, 20000, 30000, 50000, 100000, 200000</value>
            </setting>
            <setting name="RutaLlave" serializeAs="String">
                <value>C:\GeneradorComprobantes\XML\Certificados\aaa010101aaa__csd_01.key</value>
            </setting>
            <setting name="RutaCertificado" serializeAs="String">
                <value>C:\GeneradorComprobantes\XML\Certificados\aaa010101aaa__csd_01.cer</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>12345678a</value>
            </setting>
            <setting name="RutaPfx" serializeAs="String">
                <value>C:\GeneradorComprobantes\Certificados\RutaPfx\</value>
            </setting>
            <setting name="RutaSalida" serializeAs="String">
                <value>C:\GeneradorComprobantes\Salida\</value>
            </setting>
            <setting name="DiasDiferencia" serializeAs="String">
                <value>1</value>
            </setting>
        </SolucionPruebas.GeneradorComprobantes.Properties.Settings>
    </userSettings>
  <system.serviceModel>
  <bindings>
    <basicHttpBinding>
      <binding name="BasicHttpBinding_IService" />
    </basicHttpBinding>
  </bindings>
  <client>    
    <endpoint address="http://localhost:5249/ServiceRecepcion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
        contract="ServicioLocal.IService" name="BasicHttpBinding_IService" />
   </client>
  </system.serviceModel>
</configuration>
