<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FrmUsuario.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FrmUsuario.Properties.Settings>
            <setting name="FrmUsuario_localhost_Service1" serializeAs="String">
                <value>http://localhost:26283/Service1.asmx</value>
            </setting>
        </FrmUsuario.Properties.Settings>
    </applicationSettings>
</configuration>