<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="PAXRecepcionProveedoresUACH.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
		<add name="conRecepcionProveedores" connectionString="woPCi8KdwqbDjcONwqTCosSMxIQqPioX77+/NO+/pu+/tFhAG++/sxAa776p776tFxPvv67vv6QSD+++qO++rxwY77+/JEhV77+g77+gUu+/ve+/uRdTQu+/o++/rk0aBu+/tzcz77+c77+iS00ZH05P77+H77+xVVMbG0NQ77+p77+kWTLvv7fvv7knHO+/h++/pFhQHylTAe+/iu+/pElSKB9TWu++l++/iFRDJe+/szNT77+s77+kITIpG1EB77+A77+DI0EbKUBT77+p77+uUkkl77+xL0Lvv6rvv7JdTCgaHCfvvqvvv6JaUigXVxLvvqfvv60=" providerName="System.Data.SqlClient"/>
		<add name="conConsultas" connectionString="wqfCr8S7w7fEhsOzxIjDm8SHxJzvvrARFRXvvr8fDwDvv54TBu+/se+/kAXvv5Lvvrnvvp3vv6bvv5nvv6Lvv5Lvv7rvv5HvvrvvvqLvv6vvv6oiCEAJ77+s77+Y77+Q77+kFRMtDO+/uu+/k++/re+/se+/te+/tx4F77+u77+RIAQdDjrvv7Dvv73vv5smBhkDOxLvv7Dvv58F77+i77+377+nB++/sO+/sO+/niMKJxPvv6zvv7Pvv7Dvv48lEx0TRe+/gO+/lO+/mhYQ77+x77+zPhXvv7DvvqcFFBkR77+s77+p77+P776pFAYnAD4S77+677+YHBDvv6/vv68tE++/vu+/ox8TGO+/nBLvv5Tvv67vv6AlExUX77+977+Q77+5776n77+Q77+iJxg6A++/s++/nh8PIxQ/77+A77+b77+eHwQZEj8J77+577+T77+Q77+e77+UEz4V77+w"/>
	</connectionStrings>
	<appSettings>
		<!--<add key="email" value="jesus.garibay@corpuscfdi.com.mx,manuel.sanchez@corpuscfdi.com.mx" />
    <add key="emailAll" value="jesus.garibay@corpuscfdi.com.mx,ivan@esn.com.mx,manuel.sanchez@corpuscfdi.com.mx" />-->
		<add key="DefaultLanguage" value="es-Mx"/>
		<add key="SystemName" value="CORPUSCFDI"/>
		<add key="emailAppFrom" value="noreply@corpuscfdi.com.mx"/>
		<add key="HSM.xmCryptoService" value="https://192.168.0.12:8443/xmc/services/xmCryptoService"/>
		<add key="SharedAccesSignature" value="?st=2011-12-12T18%3A36%3A27Z|se=2012-12-12T18%3A36%3A27Z|sr=c|si=WriteOnlyYearly|sig=jnfAwgaRBT0Uwd1vOni4h32PZSjBQzSXWb5sH21GgWE%3D"/>
		<add key="BlobStorageEndpoint" value="https://cfditesting31.blob.core.windows.net/"/>
		<add key="ContainerName" value="pnu111201ua9"/>
		<add key="usuarioWS" value="WSDL_PAX"/>
		<add key="pwdUsuarioWS" value="w4DDiMSiw5fFisWOxZHEmMOIw7sjdjFr77++wqDCin/CgMON776Q772w77+a776aTe+/se+9su++tQ=="/>
		<add key="pruebas_validacion" value="True"/>
		<add key="wsTestValidacion.wcfValidaasmx" value="https://test.paxfacturacion.com.mx:454/webServices/wcfValidaasmx.asmx"/>
	<add key="wsProduccionValidacion.wcfValidaasmx" value="https://www.paxfacturacion.com.mx:454/webServices/wcfValidaasmx.asmx"/>
	</appSettings>
	<location path="Consultas">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Exceles">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Timbrado">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Scripts">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Imagenes">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="mnu_images">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Styles">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="WebControls">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="webGlobalMision.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="webGlobalProcesoBaja.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="webGlobalVision.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="webGlobalValores.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="webGlobalInformacion.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="webGlobalTerminos.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="webConsultasGeneradorPDF.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="webConsultasGeneradorXML.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="captcha.ashx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="webGlobalError.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Banner.gif">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="logo_pax.png">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Tutoriales.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<system.web>
		<customErrors mode="Off"/>
		<pages autoEventWireup="true"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/InicioSesion/webInicioSesionLogin.aspx" name="sqlAuthCookieUach" defaultUrl="~/Default.aspx" timeout="20" path="/"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
		<globalization culture="Auto" uiCulture="Auto"/>
		<httpRuntime maxRequestLength="40000"/>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<applicationSettings/>
</configuration>
