<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="SolucionPruebas.Presentacion.WindowsForms1.Properties.Settings.conexion"
        connectionString="Data Source=DB-DESAROLLO;Initial Catalog=CFDI;Persist Security Info=True;User ID=Desarrollo;Password=F4cturax10n" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
