<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSFirmaSectorPrimarioPortBinding" />
                <binding name="WSFirmaSectorPrimarioPortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/WSFirmaSectorPrimario/WSFirmaSectorPrimario"
                binding="basicHttpBinding" bindingConfiguration="WSFirmaSectorPrimarioPortBinding1"
                contract="FirmaSectorPrimarioLocal.WSFirmaSectorPrimario"
                name="WSFirmaSectorPrimarioPort1" />
            <endpoint address="http://192.168.3.106:8085/WSFirmaSectorPrimario/WSFirmaSectorPrimario"
                binding="basicHttpBinding" bindingConfiguration="WSFirmaSectorPrimarioPortBinding"
                contract="FirmaSectorPrimario.WSFirmaSectorPrimario" name="WSFirmaSectorPrimarioPort" />
        </client>
    </system.serviceModel>
</configuration>