<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
		<add name="conConfiguracion" connectionString="wrXCvcSvw53Fg8Svw7TEvsSWxYjvv4o577+m77+n77+h77+KDu+/ou+/uDvvv5fvv4Pvv7LvvrDvv5HvvpvvvrcO776q776077+0776l77+Q776d7768E+++u++/tCrvv6sI77+O77+y77+4776177+nNe+/mAvvv5zvv60V776177+MBe+/gO+/mu++ve+/q0rvv6Xvv68077+r776/77+A77+rO++/p++/uCrvv6sY776N77+PRu+/mO+/te+/vu+/ixHvv6Lvv6sT77+H77+5Ju+/qe++v+++tu+/ihXvvrXvv7Uv77+dCO+/lO+/u0rvv5Pvv6kq77+mDe++qO+/ljnvv6Xvv7k477+mEe+/ke+/gx7vvqbvv6k177+sEe+/ju+/vgnvvqLvv7Qg7766De++sw==" providerName="System.Data.SqlClient"/>
		<add name="conControl" connectionString="ZGzDgsOPw5HCinjCt8ORwrHvv6bvv7YHOwwAAigU77+477+4FzDvv6/vv4Dvv7fvv6fvv6jvv5QsO++/ue+/nwLvv53vv54BQ2AW77+0H++/gu+/mO+/tE5NGQIa77+f77+Y77+ZHjXvv6jvv6MYFAjvv7xNYO+/je+/phgFCgVDYCbvvrPvv7wQ77+7AhdAHwgY77+d77+qBj9e77+N77+c77+377+f77+YAkhgHwIf77+d77+l77+0TV8kAiUG77+S77+ZDk8hCCUDDe+/hApaDO+/lu+/o++/sgcCJQ==" providerName="System.Data.SqlClient"/>
		<add name="conInicioSesion" connectionString="Q0ttwqJNwprCtMKlwrVOGgJqCu++r++/se+/vWpIBFvvv6bvv5Pvv6Dvvrs5G++/tDfvv7vvv57vv6rvv5pEEe+/qmQSAwfvv69h77+277+kVx3vv7AK77+9XBPvv6Q877+t77+Y77+Z77+eWkgUXxwD776+77+hWjkWaBIDF+++rj5EB2Xvv6bvv6MQA1oR77+2aQ4B776+77+XORPvv6pkEu+/sgfvv71IOxRfGO+/ve+/me+/nlZJFG0YAQLvv4s5ChVlHO+/mAzvv7dYPxBJDgIH77+9Yxzvv5VZHQQQ77+vbQfvv5Fk" providerName="System.Data.SqlClient"/>
		<add name="conConsultas" connectionString="SVFow5t5wrPDicOUdMK2Je+/j0Tvv7fvvqDvv4hECFPvv5E177+T77+E7763Au+/lybvv4ER77+o77+P77+BIe+/ohzvvrc+77+/77+077+eNu+/vwHvvrExCu+/oe+/oUTvv7oe776xFu+/mu+/ie++sCXvv7hT77+hOQnvv7TvvpUo77+4RO+/o0Lvv7/vv7Tvv67vv7Xvv5xP77+UP++/k++/lO+/p0rvv7gc77+DQ++/u++/su++lR7vv5ce776xPwTvv7Pvv6pBB0Lvv6EL77+m77+h77+oSApQ77+gNO+/k++/hu++qTgHVu+/oDEO776x776lQ++/skTvvp4e77+R776g7762SAxP77+ROAjvv6/vv6NECFTvvo4gCO+/r++/mDoGVO+/lz7vv73vvqDvvrLvv7UHU++/ozU=" providerName="System.Data.SqlClient"/>
		<add name="conTimbrado" connectionString="UFjCglrCqlzCr1/CqcKxElcaVe+/gUQWFEBZCzHvv6Uz77+U77+jE0nvv6dG77+wPe+/s++/rgk/FF0VWggL77+uOQdoAl0WBgs577+sOO+/qizvv7cEQGkPZxUR77+6BDFrGF0Vau+/h++/qDxcFTHvv7VjHAQJSxlZExHvv7Dvv6MLSg9hA2MIAz0x77+2VRRkHg5AWu+/ozjvv5VlFhIiXxNWE1ILDhQqCWgWYwgX77+/JhQ=" providerName="System.Data.SqlClient"/>
		<add name="conAuditoriasBD" connectionString="esKCwpLDnsKzwo7Dq8Ksw5jCtizvv707Te++ryEROVrvv78sKe+/kxDvv48ILe+/rwg+77+eGu+/rhMj77+lNVUDNwMwCO+/nyhg77+wOhErJe+/nw0w77+YCe+/silaDzBfA++/ru+/tSlLETlVA0fvv4INVgI2Ke+/o0AXKSPvv7E6UQHvv67vv6sIJe+/nTxQ77+4QhE2Ue+/vTou77+TCe+/siVbDz5bATLvv58KHO+/vzthAS8a77+1GAo=" providerName="System.Data.SqlClient"/>
		<!--=============================Test====================================================================================================================================================================================================================================================================================================================================================================================================================================================-->
		<add name="conConfiguracionTest" connectionString="wrXCvcSvw53Fg8Svw7TEvsSWxYjvv4o577+m77+n77+h77+KDu+/ou+/uDvvv5fvv4Pvv7LvvrDvv5HvvpvvvrcO776q776077+0776l77+Q776d7768E+++u++/tCrvv6sI77+O77+y77+4776177+nNe+/mAvvv5zvv60V776177+MBe+/gO+/mu++ve+/q0rvv6Xvv68077+r776/77+A77+rO++/p++/uCrvv6sY776N77+PRu+/mO+/te+/vu+/ixHvv6Lvv6sT77+H77+5Ju+/qe++v+++tu+/ihXvvrXvv7Uv77+dCO+/lO+/u0rvv5Pvv6kq77+mDe++qO+/ljnvv6Xvv7k477+mEe+/ke+/gx7vvqbvv6k177+sEe+/ju+/vgnvvqLvv7Qg7766De++sw==" providerName="System.Data.SqlClient"/>
		<add name="conControlTest" connectionString="ZGzDgsOPw5HCinjCt8ORwrHvv6bvv7YHOwwAAigU77+477+4FzDvv6/vv4Dvv7fvv6fvv6jvv5QsO++/ue+/nwLvv53vv54BQ2AW77+0H++/gu+/mO+/tE5NGQIa77+f77+Y77+ZHjXvv6jvv6MYFAjvv7xNYO+/je+/phgFCgVDYCbvvrPvv7wQ77+7AhdAHwgY77+d77+qBj9e77+N77+c77+377+f77+YAkhgHwIf77+d77+l77+0TV8kAiUG77+S77+ZDk8hCCUDDe+/hApaDO+/lu+/o++/sgcCJQ==" providerName="System.Data.SqlClient"/>
		<add name="conInicioSesionTest" connectionString="Q0ttwqJNwprCtMKlwrVOGgJqCu++r++/se+/vWpIBFvvv6bvv5Pvv6Dvvrs5G++/tDfvv7vvv57vv6rvv5pEEe+/qmQSAwfvv69h77+277+kVx3vv7AK77+9XBPvv6Q877+t77+Y77+Z77+eWkgUXxwD776+77+hWjkWaBIDF+++rj5EB2Xvv6bvv6MQA1oR77+2aQ4B776+77+XORPvv6pkEu+/sgfvv71IOxRfGO+/ve+/me+/nlZJFG0YAQLvv4s5ChVlHO+/mAzvv7dYPxBJDgIH77+9Yxzvv5VZHQQQ77+vbQfvv5Fk" providerName="System.Data.SqlClient"/>
		<add name="conConsultasTest" connectionString="SVFow5t5wrPDicOUdMK2Je+/j0Tvv7fvvqDvv4hECFPvv5E177+T77+E7763Au+/lybvv4ER77+o77+P77+BIe+/ohzvvrc+77+/77+077+eNu+/vwHvvrExCu+/oe+/oUTvv7oe776xFu+/mu+/ie++sCXvv7hT77+hOQnvv7TvvpUo77+4RO+/o0Lvv7/vv7Tvv67vv7Xvv5xP77+UP++/k++/lO+/p0rvv7gc77+DQ++/u++/su++lR7vv5ce776xPwTvv7Pvv6pBB0Lvv6EL77+m77+h77+oSApQ77+gNO+/k++/hu++qTgHVu+/oDEO776x776lQ++/skTvvp4e77+R776g7762SAxP77+ROAjvv6/vv6NECFTvvo4gCO+/r++/mDoGVO+/lz7vv73vvqDvvrLvv7UHU++/ozU=" providerName="System.Data.SqlClient"/>
		<add name="conTimbradoTest" connectionString="UFjCglrCqlzCr1/CqcKxElcaVe+/gUQWFEBZCzHvv6Uz77+U77+jE0nvv6dG77+wPe+/s++/rgk/FF0VWggL77+uOQdoAl0WBgs577+sOO+/qizvv7cEQGkPZxUR77+6BDFrGF0Vau+/h++/qDxcFTHvv7VjHAQJSxlZExHvv7Dvv6MLSg9hA2MIAz0x77+2VRRkHg5AWu+/ozjvv5VlFhIiXxNWE1ILDhQqCWgWYwgX77+/JhQ=" providerName="System.Data.SqlClient"/>
		<add name="conAuditoriasBDTest" connectionString="esKCwpLDnsKzwo7Dq8Ksw5jCtizvv707Te++ryEROVrvv78sKe+/kxDvv48ILe+/rwg+77+eGu+/rhMj77+lNVUDNwMwCO+/nyhg77+wOhErJe+/nw0w77+YCe+/silaDzBfA++/ru+/tSlLETlVA0fvv4INVgI2Ke+/o0AXKSPvv7E6UQHvv67vv6sIJe+/nTxQ77+4QhE2Ue+/vTou77+TCe+/siVbDz5bATLvv58KHO+/vzthAS8a77+1GAo=" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="urlDataPower" value="http://10.60.69.10:6555/RecepcionTimbrado"/>
		<add key="urlDataPowerTest" value="http://10.60.69.10:6555/RecepcionTimbrado"/>
		<add key="DefaultLanguage" value="es-Mx"/>
		<add key="SystemName" value="CORPUSCFDI"/>
		<add key="emailAppFrom" value="noreply@corpuscfdi.com.mx"/>
	</appSettings>
	<location path="WebServices/wcfIndicium.asmx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/InicioSesion/webInicioSesionLogin.aspx" name="sqlAuthCookie" timeout="5" defaultUrl="~/Default.aspx" path="/"/>
		</authentication>
		<customErrors mode="On">
			<error statusCode="400" redirect="~/webGlobalError.aspx?p=400 Bad Request"/>
			<error statusCode="401" redirect="~/webGlobalError.aspx?p=401 Unauthorized"/>
			<error statusCode="403" redirect="~/webGlobalError.aspx?p=403 Forbidden"/>
			<error statusCode="404" redirect="~/webGlobalError.aspx?p=404 File Not Found"/>
			<error statusCode="500" redirect="~/webGlobalError.aspx?p=500 Internal Server Error"/>
			<error statusCode="501" redirect="~/webGlobalError.aspx?p=501 Not Implemented"/>
			<error statusCode="502" redirect="~/webGlobalError.aspx?p=502 Bad Gateway"/>
			<error statusCode="503" redirect="~/webGlobalError.aspx?p=503 Service Unavailable"/>
			<error statusCode="504" redirect="~/webGlobalError.aspx?p=504 Gateway Timeout"/>
		</customErrors>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="NewBehavior">
					<clientCredentials>
						<clientCertificate findValue="d6 25 bc c3 0f e5 07 e7 63 a6 e0 46 b9 c7 43 a7 f6 46 6a 5b" x509FindType="FindByThumbprint" storeLocation="LocalMachine" storeName="My"/>
						<serviceCertificate>
							<authentication certificateValidationMode="PeerTrust"/>
						</serviceCertificate>
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_ICancelaCFDBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="BasicHttpBinding_IAutenticacion" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="TransportWithMessageCredential">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="Certificate" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="BasicHttpBindingCan_IAutenticacion" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="TransportWithMessageCredential">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="Certificate" algorithmSuite="Default"/>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://pruebacfdicancelacion.cloudapp.net/Autenticacion/Autenticacion.svc" behaviorConfiguration="NewBehavior" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAutenticacion" contract="ServicioCancelacionAutenticacionCFDI.IAutenticacion" name="BasicHttpBindingCan_IAutenticacion">
				<identity>
					<dns value="WCF_CLI_CFDI"/>
				</identity>
			</endpoint>
			<endpoint address="https://pruebacfdicancelacion.cloudapp.net/Cancelacion/CancelaCFDService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICancelaCFDBinding" contract="ServicioCancelacionCFDI.ICancelaCFDBinding" name="BasicHttpBinding_ICancelaCFDBinding"/>
		</client>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>
</configuration>
