<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PAXRecuperacionSOAPBateriaGT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PAXRecuperacionSOAPBateriaGT.Properties.Settings>
            <setting name="rutaArchivos" serializeAs="String">
                <value>H:\ObtenerSOAPGT\Archivos</value>
            </setting>
            <setting name="RutaSOAP" serializeAs="String">
                <value>H:\ObtenerSOAPGT\LogSOAP\</value>
            </setting>
            <setting name="LogError" serializeAs="String">
                <value>H:\ObtenerSOAPGT\LogError\</value>
            </setting>
        </PAXRecuperacionSOAPBateriaGT.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IwcfRecepcion">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfRecepcionASMXSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfRecepcionASMXSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ws.paxfacturacion.com.mx:454/webservices/wcfRecepcion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwcfRecepcion"
                contract="wsGeneracionTimbradoSVCWS.IwcfRecepcion" name="BasicHttpBinding_IwcfRecepcion" />
            <endpoint address="https://ws.paxfacturacion.com.mx:454/webservices/wcfrecepcionasmx.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASMXSoap"
                contract="wsGeneracionTimbradoWS.wcfRecepcionASMXSoap" name="wcfRecepcionASMXSoap" />
        </client>
    </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="System.Net">
        <listeners>
          <add name="TraceFile"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="TraceFile"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="TraceFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="H:\ObtenerSOAPGT\LogSOAP\trace.log"/>
    </sharedListeners>
    <switches>
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Sockets" value="Verbose"/>
    </switches>
  </system.diagnostics>
</configuration>