<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TestLunaWebServicePortBinding" receiveTimeout="10:00:00" closeTimeout="10:00:00" openTimeout="10:00:00" sendTimeout="10:00:00" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.3.11:8080/TestLunaWebService/TestLunaWebService"
                binding="basicHttpBinding" bindingConfiguration="TestLunaWebServicePortBinding"
                contract="WSLunaSA.TestLunaWebService" name="TestLunaWebServicePort" />
        </client>
    </system.serviceModel>
  </configuration>