<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeneradorMasivoComprobantes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="conControl" connectionString="wpbCnsOCxKXDlMSBwqLDucOnwqkY77+SNu+/thTvv7AeYkbvv5Qn77+SJe+/lu+/oRsF776n77+677+DJ++/i++/oB0K776sCwNdERhOQO++kQXvv7Zo77++G1w7776uBe+/mzjvv6YOMEbvv6oyCWPvv7zvv6IoJO+/ljQIXRAjDSfvv5YlCmYGI2bvv7Tvvrow77+7Y++/mgNfSe+/lu+/ve+/qmcCIQ0d776177+/77+5WRAQX0bvv6AuAWPvv5jvv79OR++/pDkEZgHvv6wzCO+/lDYKZu+/viceBO+/nw==" />
    </connectionStrings>
    <appSettings>
      <add key="contrasenaTimbrado" value="12345678a" />
      <add key="rutaFactura" value="C:\Users\Ismael Hidalgo\Documents\GeneracionFacturas\" />
      <add key="rutaFacturaSinTimbre" value="C:\Users\Ismael Hidalgo\Documents\GeneracionFacturas\" />
      <add key="rutaHonorarios" value="C:\Users\Ismael Hidalgo\Documents\GeneracionFacturas\" />
      <add key="rutaHonorariosSinTimbre" value="C:\Users\Ismael Hidalgo\Documents\GeneracionFacturas\" />
      <add key="rutaNomina" value="C:\Users\Ismael Hidalgo\Documents\GeneracionFacturas\" />
      <add key="rutaNominaSinTimbre" value="C:\Users\Ismael Hidalgo\Documents\GeneracionFacturas\" />
      <add key="rutaZips" value="C:\Users\Ismael Hidalgo\Documents\GeneracionFacturas\" />
      <add key="rutaLayoutFactura" value="C:\Users\Ismael Hidalgo\Documents\GeneracionFacturas\" />
      <add key="rutaLayoutNomina" value="C:\Users\Ismael Hidalgo\Documents\GeneracionFacturas\" />
    </appSettings>
    <userSettings>
        <GeneradorMasivoComprobantes.Properties.Settings>
            <setting name="contrasenaTimbrado" serializeAs="String">
                <value>12345678a</value>
            </setting>
        </GeneradorMasivoComprobantes.Properties.Settings>
    </userSettings>
</configuration>