<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="conConfiguracion" connectionString="XBkq8AvS8Xers5v2uKZ76BuRoHRGTM2B0Lx+Xaz4MNvC7sOlV/JdV2NG5kSZ9cgM4FNNDziPDEHNj/qEz2Wwpck8Gh/YV03Eh89MgEzF3rYL1IRY2L7eSy3TcDK1/MLo2pPqPhq6Rutup/frGRCFT4sQtuft8Ulxb5c27HI2rIZIk8dflgTVaxQFDv62ZQQ9NoCeD3W3khfPDpZAnpqFljgri5hqpdPE3oTuV04EDAk/s69wLYyZ+lUlcYBCJbEJQTvVjHMyjPj6mPCF8BsndTgePoWNFu6v7XTWk2DDSxJ7gFn/1wQagEI4Tu6Ryg3tCja4NF25qdGo4WsMff7dbXCTYlxyRZ8fTq+77s94UoE=" providerName="System.Data.SqlClient"/>
    <add name="conConfiguracionDistribuidor" connectionString="tnV9Q/1Q0VrO89JMAeZ2tVtYmZ8KbAwP99ZlP8WbLyVeFhS8Wqa0yFNoG7jVnQS6n6AlnL4ekPvrJseLwErX+AR32TCaeN6levvxeIbi4jJ4GU8ne/njfDQJKqhV0ViND179AQAVc09SXwc6v22Sanr21A7uT66sR1Z6WrA3HNy/tPW6jLVqmcecBPwOoFMQyBRdXkSMvu8rnpi/p0Qoa8Oh3pqasXreIGn3XeytI+cozEc1jmqQFIzYn0cmkqlluWFsJOdaR1ZOF9C3TKADj7Pj3HkynEcdEvwS+DuCe/319wIk34e6eQ4/ile58BlfM6vWAApIb9xrO8J+cNMqeQVvN4qFSGicrWHx3XTrtbE=" providerName="System.Data.SqlClient"/>
    <add name="conControl" connectionString="QCEleuBbw/2TSqDgY5o+3gKpGs7GQDHx9fllbMDt2FicIvDaqbqkqyJ5coIrmanhbUNVXdvXBs+XESDrVvykggb51XruxKMJn4/hweAUxyRdvnA3dxqOE7tzpxC0tXHgBP3zITstASe4+dBOdOw4BHE+XNah3T6zYgBRNwE9M3yMrhNu8mKOTeISueSK5hA/mVb81gEwruQcFQR3FH0YJnE3qYKcaupXmZ/UchkLUf6vB0DkrdCShnK7Rf3GVqPSQ7kg1gklfxJGCHQwoRcMT/P8eeUgqmXewT8ZKjweLgahwtbB7L8Pu4IpaMEsIyyl/jyzNnPJDN7CVZOP0+eQACi046qYtfeZk5LJmin72Ms=" providerName="System.Data.SqlClient"/>
    <add name="conInicioSesion" connectionString="rwBRvorbwdQrJcm1gg4Ho267abwM3y9s56dQm9QzdDJBIYDgrKbeOuoCiFKPfBdzMxkXQibs5TtkAznrBSmMc0JfI3KHS8/Zp/kmtGlMRPIwBYscaEYPEecxwtEuIuPwAinuTXDJGC2Z9zKMn/m8+heQVToaXEiVoneP+T3krAK31ppfgxUhVNo6E8UD7JI/bolwALzHRqfQJRtmN86F+evRu/PJCc29/PmI8rXP990Tp55CuEz6GLzd2cYPHYYpbnPbYs3prJleNQM5lFgtKYdlfTPwPpmP3wyj05O2uEcshgoUYqEH+ZGP/WrhJdMe+HL7LNh6ok5g6QL5c6CFCCIEhd/s5IwkrN0CW3G6uDCsqcNd+y66w2LVxjDFj+n1Kso17PYOjaOyW/GUttIwrQ==" providerName="System.Data.SqlClient"/>
    <add name="conConsultas" connectionString="Y5uU5pOLlZnrTW9TLXMI/vpbgCbCVQ8PlX5cmRtR3Olt2qHGrQQJLdbwn6OMb6gPrknUnmTsV9bm5XwLeXTOiTxtEBCeB4S1U19D7oc80X1cG1oDFq/pD1tGcX8o5ELG/BH6W+CfbIXsUvd2ZAxtR4K/rwz7wk6h2i1duR1wESVW+kmvhpSSP7pegi8hTn2Hhw1X+Id06kU8rGi8pXabQXLhK+UfNjGV9jBrFqRO/POeH5eguOmufrJCshYv0nm2vjux+N9FfVkgtdOF8E18WljTf8TZW3FqFaumIfNYV0juFAOvpHWD7rP01ILJ+zN/MsrJXR2JfE1CwbIWY9QASNWNhsZ3nyEsn/FPUNCgl+IMAahTNE6g2gQJEydXADn+0e51QYxlVZPoSrzFVGgPcsHprUlYSdcs5+g3WqDdtOW+Hg0JEoPvUDPgiChDB900" providerName="System.Data.SqlClient"/>
    <add name="conConsultasGrandes" connectionString="hFaD5UTXi2qvM/OQzCOP29ztZSrkEQc3yiyndIpS04Rs3pGhP9V3sw68AtZk9J099SOu4EL3tliTD6dpaWt5StryDnibVsOmelTsUe7Lv8m3pW0HXbAHhXOjzDIV35DjmMg9pVmBaGspVLbrTPNtlvTQTS4L7AlX9XbFRimRUNeVcM3t6FnWKN2kqbGtXAuT4ZyOegrG9EV1a9N6A0fmNfOhS3Ygv570/IMLghqQnAIOWHLkOq7mie6/wE4XCPLoQcYK2CQHQqGO9AuKRN6cOrm82PIvgxhsXPfYC+73J1ZslWDrJtq4q7IRpUuEmxFPJpWFooEoz4YhGb5SWP1VO0uZRihxHtrTJCWnyquJe2vZRDetM3I3tOVN5EZSVnvxiqG0oY4tsVGitZ0mjmPj+Z+QD2EpFQSJYNagHMUVLZkIIKcuO2wmJj3Rv3Za3RcW" providerName="System.Data.SqlClient"/>
    <add name="conTimbrado" connectionString="zh16AwQ6jtE+lDmzyhfNc2l77DOWxUSqhtR4TbYCMK3v112S75kn7RD2rRs1se4gfNa8VQti+JtW+7nFN7m9e+3Ma5y724eAZ+usZxC+CVMcaRdhTFnoQfNjlz6CfAfTdL6yynru1F8J+JYnU7Zz/ooUoAgNJ7uBxFa1N+GPoRb/5RXcewYf+pJcKky6UniUrq3IcQGDdaoANOWkRYDakM1PmzSVggghCJKC3g2yYodk/Le/SPKVpQs+L1PtZxBQXycnnFiCyPST603GC71/v5ezLi+hDv1F5yWH7Wxo/QFYOGQC0rmg8qAH54sINskC3LMSGxt0u0tOCBuR6jgXrqaE4XGclsl4l6FEkg/Jhy2RQlAneFD6Cq8cZuTm/u++" providerName="System.Data.SqlClient"/>
    <add name="conAuditoriasBD" connectionString="4Rib1VbdA1v5+H9CtJeESGRB1m8YCfM2FydO5LCilW6jANTydTrb9OA/VP1lndK9KO56SA2T5Kl/Mqt0VHCIi9LWr4xvr8GuIPS9AQwvkewjvK2y5T4HZan3FdUBRywECFbrm06mIKJ4pYtuPGtlV9u21dlKK+U3zf4QP+Irtv9Eq3Gpd464b8CqkH2C/4lXxnYqSyDEsVrUT5iK2gflKfvBbZXjRyvKvEHwRDXHmooZlGaXGvQyiQCky6vl2HElUIZinPaMrN8PYB1wTl0XPAZNo2ec/arSoTJbynamrwAJAPWOtwYbxvrCPzpCNDZ/UrNUhY3igVJh5KHtnJJvAHOC7QiiBhNlnjPMaexbqPo=" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="DefaultLanguage" value="es-Mx"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>