<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SolucionPruebas.WindowsService.GeneradorComprobantesHilos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SolucionPruebas.WindowsService.GeneradorComprobantesHilos.Properties.Settings>
            <setting name="Intervalo" serializeAs="String">
                <value>3600000</value>
            </setting>
            <setting name="LogError" serializeAs="String">
                <value>C:\GeneradorComprobantes\LogErrores\</value>
            </setting>
            <setting name="RutaArchivos" serializeAs="String">
                <value>C:\GeneradorComprobantes\Entrada\</value>
            </setting>
            <setting name="ArregloArchivos" serializeAs="String">
                <value>1500, 2000, 3000, 5000, 10000, 20000, 30000, 50000, 100000, 200000</value>
            </setting>
            <setting name="RutaLlave" serializeAs="String">
                <value>C:\GeneradorComprobantes\XML\Certificados\aaa010101aaa__csd_01.key</value>
            </setting>
            <setting name="RutaCertificado" serializeAs="String">
                <value>C:\GeneradorComprobantes\XML\Certificados\aaa010101aaa__csd_01.cer</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>12345678a</value>
            </setting>
            <setting name="RutaPfx" serializeAs="String">
                <value>C:\GeneradorComprobantes\Certificados\RutaPfx\</value>
            </setting>
            <setting name="RutaSalida" serializeAs="String">
                <value>C:\GeneradorComprobantes\Salida\</value>
            </setting>
            <setting name="DiasDiferencia" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AlgoritmoDigestion" serializeAs="String">
                <value>sha-1</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>3.2</value>
            </setting>
        </SolucionPruebas.WindowsService.GeneradorComprobantesHilos.Properties.Settings>
    </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.3.61:500/ServiceRecepcion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="ServicioLocal.IService" name="BasicHttpBinding_IService" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
