<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SolucionPruebas.Presentacion.Servicios.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="Liga" value=""/>
  </appSettings>
    <system.serviceModel>
        <behaviors>
          <serviceBehaviors>
          </serviceBehaviors>
          <endpointBehaviors>
            <behavior name="AuthenticationBehavior">
              <clientCredentials>
                <clientCertificate findValue="d6 25 bc c3 0f e5 07 e7 63 a6 e0 46 b9 c7 43 a7 f6 46 6a 5b" x509FindType="FindByThumbprint" storeLocation="LocalMachine" storeName="My"/>
                <serviceCertificate>
                  <authentication certificateValidationMode="PeerTrust"/>
                </serviceCertificate>
              </clientCredentials>
            </behavior>
          </endpointBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="wcfCancelaASMXSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfCancelaASMXSoap1" />
                <binding name="BasicHttpBinding_IService" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647" />
                <binding name="wcfCancelaASMXSoap2" />
                <binding name="wcfCancelaASMXSoap3">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfCancelaASMXSoap4" />
                <binding name="wcfRecepcionASMXSoap3">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfRecepcionASMXSoap4" />
                <binding name="wcfRecepcionASMXSoap5">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfRecepcionASMXSoap6" />
                <binding name="wcfRecepcionASMXSoap7">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfRecepcionASMXSoap8" />
                <binding name="BasicHttpBinding_IRecibeCFDIService">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfRecuperaLCOSoap" />
                <binding name="BasicHttpBinding_ICatalogoService" closeTimeout="00:10:00"
                    openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true" messageEncoding="Text" />
                <binding name="BasicHttpBinding_ISesionService" />
                <binding name="wcfRecepcionASMXSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfRecepcionASMXSoap9" />
                <binding name="wcfRecepcionASMXSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfRecepcionASMXSoap1" />
                <binding name="wcfRecepcionASMXSoap10">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfRecepcionASMXSoap11" />
                <binding name="wcfValidaASMXSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfValidaASMXSoap1" />
                <binding name="wcfValidaASMXSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfValidaASMXSoap3" />
                <binding name="wcfRegistroSoap1">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfRegistroSoap2" />
                <binding name="wcfRegistroSoap3">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfRegistroSoap4" />
                <binding name="BasicHttpBinding_IwcfRegistroSVC">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfRegistroSoap5">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfRegistroSoap6" />
                <binding name="BasicHttpBinding_IwcfRecepcion2">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfRecepcionASPELSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfRecepcionASPELSoap1" />
                <binding name="BasicHttpBinding_IwcfRecepcion" />
                <binding name="BasicHttpBinding_IwcfRecepcion1" />
                <binding name="wcfValidaASMXSoap4">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfValidaASMXSoap5" />
                <binding name="wcfRecepcionASMXSoap12" closeTimeout="00:10:00"
                    openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true" messageEncoding="Text" />
                <binding name="wcfRecepcionASMXSoap13" closeTimeout="00:10:00"
                    openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true" messageEncoding="Text" />
                <binding name="wcfCancelaASMXSoap5" />
                <binding name="wcfCancelaASMXSoap6" />
                <binding name="wcfRegistroSoap" closeTimeout="00:10:00" openTimeout="00:10:00"
                    receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
                    bypassProxyOnLocal="false" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" />
                <binding name="BasicHttpBinding_IwcfRegistroSVC1" />
                <binding name="wcfRecepcionASMXSoap14" />
                <binding name="wcfRecepcionManifiestoSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfRecepcionManifiestoSoap1" />
                <binding name="ServiceRecepcionSoap" />
                <binding name="ServiceAuthenticationSoap">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Certificate" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="wcfRecepcionManifiestoSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfRecepcionManifiestoSoap3" />
                <binding name="wcfConsultaTicketSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="wcfRecuperaLCOSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="wcfRecepcion_BasicHttpBinding_IwcfRecepcion">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
                <binding name="wcfRecepcion_BasicHttpBinding_IwcfRecepcion.0">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="BasicHttpBinding_IwcfRecepcion3">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IwcfRecupera" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="https://test.paxfacturacion.com.mx:453/webservices/wcfCancelaASMX.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfCancelaASMXSoap"
                contract="CancelacionService.wcfCancelaASMXSoap" name="wcfCancelaASMXSoap" />
            <endpoint address="https://test.paxfacturacion.com.mx:456/webservices/wcfCancelaASMX.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfCancelaASMXSoap1"
                contract="wsCancelacionDistribuidor.wcfCancelaASMXSoap" name="wcfCancelaASMXSoap1" />
            <endpoint address="https://192.168.3.106:453/webservices/wcfCancelaASMX.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfCancelaASMXSoap3"
                contract="wsCancelaPruebas.wcfCancelaASMXSoap" name="wcfCancelaASMXSoap2" />
            <endpoint address="https://recepcion.facturaelectronica.sat.gob.mx/Recepcion/RecibeCFDIService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecibeCFDIService"
                contract="wcfRecepcionSAT.IRecibeCFDIService" name="BasicHttpBinding_IRecibeCFDIService" />
            <endpoint address="http://192.168.3.106:8080/wcfRecuperaLCO.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfRecuperaLCOSoap"
                contract="wcfLCO.wcfRecuperaLCOSoap" name="wcfRecuperaLCOSoap" />
            <endpoint address="http://192.168.3.106:8080/wcfRecuperaLCO.asmx"
                binding="customBinding" bindingConfiguration="wcfRecuperaLCOSoap12"
                contract="wcfLCO.wcfRecuperaLCOSoap" name="wcfRecuperaLCOSoap12" />
            <endpoint address="net.tcp://localhost:8732/wcfRecupera" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IwcfRecupera" contract="ntcpLCO.IwcfRecupera"
                name="NetTcpBinding_IwcfRecupera">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://192.168.3.61:500/ServiceRecepcion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="ServicioLocal.IService" name="BasicHttpBinding_IService" />
            <endpoint address="https://test.paxfacturacion.com.mx:454/WebServices/wcfRecepcionASMX.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASMXSoap3"
                contract="wsGeneracionTimbrado.wcfRecepcionASMXSoap" name="wcfRecepcionASMXSoap2" />
            <endpoint address="http://localhost:4067/CatalogoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatalogoService"
                contract="CatalogoServicioLocal.ICatalogoService" name="BasicHttpBinding_ICatalogoService" />
            <endpoint address="http://localhost:4067/ServiceSesion.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISesionService" contract="SesionServicioLocal.ISesionService"
                name="BasicHttpBinding_ISesionService" />
            <endpoint address="https://paxfacturacion.com.mx:453/webservices/wcfRecepcionASMX.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASMXSoap7"
                contract="wsRecepcionProduccion.wcfRecepcionASMXSoap" name="wcfRecepcionASMXSoap4" />
            <endpoint address="https://192.168.3.106:453/webservices/wcfRecepcionASMX.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASMXSoap5"
                contract="wsRecepcionDesarrollo.wcfRecepcionASMXSoap" name="wcfRecepcionASMXSoap3" />
            <endpoint address="https://ws.paxfacturacion.com.mx:453/webservices/wcfRecepcionasmx.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASMXSoap"
                contract="wsRecepcionDP.wcfRecepcionASMXSoap" name="wcfRecepcionASMXSoap" />
            <endpoint address="https://ws.paxfacturacion.com.mx:454/webservices/wcfrecepcionasmx.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASMXSoap10"
                contract="wsGeneracionTimbradoDP.wcfRecepcionASMXSoap" name="wcfRecepcionASMXSoap5" />
            <endpoint address="https://test.paxfacturacion.com.mx:454/webServices/wcfValidaasmx.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfValidaASMXSoap"
                contract="wsValidacionTest.wcfValidaASMXSoap" name="wcfValidaASMXSoap" />
            <endpoint address="https://192.168.3.106:454/webServices/wcfValidaasmx.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfValidaASMXSoap2"
                contract="wsValidacionDesarrollo.wcfValidaASMXSoap" name="wcfValidaASMXSoap1" />
            <endpoint address="https://test.paxfacturacion.com.mx:459/WebServices/wcfRegistro.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfRegistroSoap1"
                contract="wsRegistroUsuariosTestN.wcfRegistroSoap" name="wcfRegistroSoap1" />
            <endpoint address="https://test.paxfacturacion.com.mx:455/webservices/wcfRegistro.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfRegistroSoap3"
                contract="wsRegistroUsuariosTest.wcfRegistroSoap" name="wcfRegistroSoap2" />
            <endpoint address="https://www.paxfacturacion.com.mx:455/WebServices/wcfRegistroSVC.svc/secure"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwcfRegistroSVC"
                contract="wsRegistroUsuariosProduccion.IwcfRegistroSVC" name="BasicHttpBinding_IwcfRegistroSVC" />
            <endpoint address="https://www.paxfacturacion.com.mx:455/WebServices/wcfRegistro.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfRegistroSoap5"
                contract="wsRegistroUsuariosProduccionasmx.wcfRegistroSoap"
                name="wcfRegistroSoap3" />
            <endpoint address="https://test.paxfacturacion.com.mx:453/webservices/wcfRecepcion.svc/secure"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwcfRecepcion2"
                contract="wsRecepcionTestSVC.IwcfRecepcion" name="BasicHttpBinding_IwcfRecepcion1" />
            <endpoint address="https://ws.paxfacturacion.com.mx:453/webservices/wcfRecepcion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwcfRecepcion"
                contract="wsRecepcionDPSVC.IwcfRecepcion" name="BasicHttpBinding_IwcfRecepcion" />
            <endpoint address="https://ws.paxfacturacion.com.mx:453/webservices/wcfRecepcionaspel.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASPELSoap"
                contract="wsRecepcionDPAspel.wcfRecepcionASPELSoap" name="wcfRecepcionASPELSoap" />
            <endpoint address="https://ws.paxfacturacion.com.mx:453/webservices/wcfRecepcion.svc"
                binding="customBinding" bindingConfiguration="wcfRecepcion_BasicHttpBinding_IwcfRecepcion"
                contract="wsRecepcionDPSVC.IwcfRecepcion" name="BasicHttpBinding_IwcfRecepcion2" />
            <endpoint address="https://ws.paxfacturacion.com.mx:453/webservices/wcfRecepcion.svc"
                binding="customBinding" bindingConfiguration="wcfRecepcion_BasicHttpBinding_IwcfRecepcion.0"
                contract="wsRecepcionDPSVC.IwcfRecepcion" name="BasicHttpBinding_IwcfRecepcion.0" />
            <endpoint address="https://test.paxfacturacion.com.mx:453/webservices/wcfRecepcionASMX.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASMXSoap2"
                contract="wsRecepcionTestASMX.wcfRecepcionASMXSoap" name="wcfRecepcionASMXSoap1" />
            <endpoint address="https://test.paxfacturacion.com.mx:464/webservices/wcfValidaasmx.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfValidaASMXSoap4"
                contract="wsValidaRetencionTest.wcfValidaASMXSoap" name="wcfValidaASMXSoap2" />
            <endpoint address="http://localhost:2605/WebServices/wcfRecepcionASMX.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASMXSoap12"
                contract="wsRecepcionLocalRetencion.wcfRecepcionASMXSoap"
                name="wcfRecepcionASMXSoap6" />
            <endpoint address="http://localhost:4233/WebServices/wcfRecepcionASMX.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASMXSoap13"
                contract="wsRecepcionRetencionProduccion.wcfRecepcionASMXSoap"
                name="wcfRecepcionASMXSoap7" />
            <endpoint address="http://localhost:2605/WebServices/wcfCancelaASMX.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfCancelaASMXSoap5"
                contract="wsCancelacionRetencionLocal.wcfCancelaASMXSoap"
                name="wcfCancelaASMXSoap3" />
            <endpoint address="http://localhost:4233/WebServices/wcfCancelaASMX.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfCancelaASMXSoap6"
                contract="wsCancelacionRetencionProduccion.wcfCancelaASMXSoap"
                name="wcfCancelaASMXSoap4" />
            <endpoint address="http://localhost:24965/PAXRegistroUsuario_WS/WebServices/wcfRegistro.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfRegistroSoap"
                contract="wsRegistroUsuariosLocal.wcfRegistroSoap" name="wcfRegistroSoap" />
            <endpoint address="http://localhost:24965/PAXRegistroUsuario_WS/WebServices/wcfRegistroSVC.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwcfRegistroSVC1"
                contract="wsRegistroUsuariosSVCLocal.IwcfRegistroSVC" name="BasicHttpBinding_IwcfRegistroSVC1" />
            <endpoint address="http://localhost:31451/PAXFacturacionPago_WS_Manifiesto/WebServices/wcfRecepcionASMX.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASMXSoap14"
                contract="wsRecepcionCartaManifiesto.wcfRecepcionASMXSoap"
                name="wcfRecepcionASMXSoap8" />
            <endpoint address="https://test.paxfacturacion.com.mx:467/webservices/wcfRecepcionManifiesto.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfRecepcionManifiestoSoap"
                contract="wsRecepcionCartaManifiestoTest.wcfRecepcionManifiestoSoap"
                name="wcfRecepcionManifiestoSoap" />
            <endpoint address="http://localhost:1636/ServiceRecepcion.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceRecepcionSoap"
                contract="wsServiceRecepcionLocal.ServiceRecepcionSoap" name="ServiceRecepcionSoap" />
            <endpoint address="http://localhost:1636/ServiceAuthentication.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceAuthenticationSoap"
                contract="wsServicioAutenticacion.ServiceAuthenticationSoap"
                name="ServiceAuthenticationSoap" />
            <endpoint address="https://www.paxfacturacion.com.mx:467/WebServices/wcfRecepcionManifiesto.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfRecepcionManifiestoSoap2"
                contract="wsRecepcionCartaManifiestoProductivo.wcfRecepcionManifiestoSoap"
                name="wcfRecepcionManifiestoSoap1" />
            <endpoint address="http://201.116.148.68:82/wcfConsultaTicket.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfConsultaTicketSoap"
                contract="WSConsultaAlSuper.wcfConsultaTicketSoap" name="wcfConsultaTicketSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <SolucionPruebas.Presentacion.Servicios.Properties.Settings>
            <setting name="SolucionPruebas_Presentacion_Servicios_mx_com_paxfacturacion_test_wcfRecepcionASMX"
                serializeAs="String">
                <value>https://test.paxfacturacion.com.mx:453/webservices/wcfRecepcionasmx.asmx</value>
            </setting>
            <setting name="SolucionPruebas_Presentacion_Servicios_LCO_wcfRecuperaLCO"
                serializeAs="String">
                <value>http://192.168.3.106:8080/wcfRecuperaLCO.asmx</value>
            </setting>
            <setting name="SolucionPruebas_Presentacion_Servicios_wcfRecepcionManifiesto_wcfRecepcionManifiesto"
                serializeAs="String">
                <value>https://test.paxfacturacion.com.mx:467/webservices/wcfRecepcionManifiesto.asmx</value>
            </setting>
        </SolucionPruebas.Presentacion.Servicios.Properties.Settings>
    </applicationSettings>
</configuration>