<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GenerarXML.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GenerarXML.Properties.Settings>
            <setting name="GenerarXML_localhost_TimbrarFactura" serializeAs="String">
                <value>http://localhost:1686/wslGuardaXML.asmx</value>
            </setting>
        </GenerarXML.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wcfRecepcionASMXSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfRecepcionASMXSoap1" />
                <binding name="wsLicenciaASMXSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://test.paxfacturacion.com.mx:453/webservices/wcfRecepcionasmx.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASMXSoap"
                contract="wcfRecepcionasmx.wcfRecepcionASMXSoap" name="wcfRecepcionASMXSoap" />
            <endpoint address="http://licencias.paxfacturacion.com.mx/wsLicenciaASMX.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsLicenciaASMXSoap"
                contract="wsLicenciaASMX.wsLicenciaASMXSoap" name="wsLicenciaASMXSoap" />
        </client>
    </system.serviceModel>
</configuration>