<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--<add key="email" value="jesus.garibay@corpuscfdi.com.mx,manuel.sanchez@corpuscfdi.com.mx" />
    <add key="emailAll" value="jesus.garibay@corpuscfdi.com.mx,ivan@esn.com.mx,manuel.sanchez@corpuscfdi.com.mx" />-->
    <add key="DefaultLanguage" value="es-Mx"/>
    <add key="SystemName" value="CORPUSCFDI"/>
    <add key="emailAppFrom" value="noreply@corpuscfdi.com.mx"/>
    <add key="HSM.xmCryptoService" value="https://192.168.0.12:8443/xmc/services/xmCryptoService"/>
    <add key="SharedAccesSignature" value="?sr=c|si=WriteOnly|sig=eUe%2Fe7kcFcmiIzOVNgqbXd%2BjlIN3ZQd8fkQq3IsHQVQ%3D"/>
    <add key="BlobStorageEndpoint" value="http://certificacionpac.blob.core.windows.net/"/>
    <add key="ContainerName" value="certificacionpac"/>
    <add key="FechaProduccion" value="December 31, 2014 01:00:00"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehavior">
          <clientCredentials>
            <clientCertificate findValue="56 8f 46 ae 1f 58 81 ec 23 68 6e 4b b8 1b cf 2b 6b d7 43 ef" x509FindType="FindByThumbprint" storeLocation="LocalMachine" storeName="My"/>
            <serviceCertificate>
              <authentication certificateValidationMode="PeerTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
        <!--<behavior name="NewBehavior">
          <clientCredentials>
            <clientCertificate findValue="d6 25 bc c3 0f e5 07 e7 63 a6 e0 46 b9 c7 43 a7 f6 46 6a 5b" x509FindType="FindByThumbprint" storeLocation="LocalMachine" storeName="My"/>
            <serviceCertificate>
              <authentication certificateValidationMode="PeerTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>-->
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRecibeCFDIService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IAutenticacion" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Certificate" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IRecibeCFDIService1">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://pruebacfdirecepcion.cloudapp.net/Recepcion/CFDI33/RecibeCFDIService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecibeCFDIService" contract="ServicioRecepcionCFDI.IRecibeCFDIService" name="BasicHttpBinding_IRecibeCFDIService"/>
      <endpoint address="https://pruebacfdirecepcion.cloudapp.net/Seguridad/Autenticacion.svc" behaviorConfiguration="EndpointBehavior" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAutenticacion" contract="ServicioRecepcionAutenticacionCFDI.IAutenticacion" name="BasicHttpBinding_IAutenticacion"/>
      <endpoint address="https://pruebacfdirecepcion.cloudapp.net/Recepcion/RecibeCFDIService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecibeCFDIService1" contract="ServicioRecepcionCFDI32.IRecibeCFDIService" name="BasicHttpBinding_IRecibeCFDIService1"/>
    </client>
  </system.serviceModel>
</configuration>