<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SolucionPruebas.WindowsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SolucionPruebas.WindowsService.Properties.Settings>
            <setting name="WatchPath" serializeAs="String">
                <value>C:\SolucionPruebasWindowsService\XML\Documentos</value>
            </setting>
            <setting name="LocationPath" serializeAs="String">
                <value>C:\SolucionPruebasWindowsService\XML\Salida\</value>
            </setting>
            <setting name="LogError" serializeAs="String">
                <value>C:\SolucionPruebasWindowsService\XML\LogErrores\</value>
            </setting>
        </SolucionPruebas.WindowsService.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
