<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="PAXConectorFTPGTCFDI33.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wcfCancelaASMXSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="wcfCancelaASMXSoap1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.paxfacturacion.com.mx:476/webservices/wcfCancelaasmx.asmx" binding="basicHttpBinding" bindingConfiguration="wcfCancelaASMXSoap" contract="CancelacionASMX.wcfCancelaASMXSoap" name="wcfCancelaASMXSoap"/>
        </client>
    </system.serviceModel>
    <userSettings>
      <PAXConectorFTPGTCFDI33.Properties.Settings>
        <setting name="Hilos" serializeAs="String">
          <value>5</value>
        </setting>
        <setting name="BufferInterno" serializeAs="String">
          <value>8192</value>
        </setting>
        <setting name="Usuario" serializeAs="String">
          <value>WSDL_PAX</value>
        </setting>
        <setting name="Password" serializeAs="String">
          <value>w4DDiMSiw5fFisWOxZHEmMOIw7sjdjFr77++wqDCin/CgMON776Q772w77+a776aTe+/se+9su++tQ==</value>
        </setting>
        <setting name="Lapso" serializeAs="String">
          <value>00:00:05</value>
        </setting>
        <setting name="LogFlush" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ValidacionHash" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Conexion" serializeAs="String">
          <value>Nj7Di3dIwqrCtT5owqXvvrskYO+/v++/qmtC776x776+JFEB77+zYUIK776LCFzvv7Lvv7A1FO+/su+/lzJT77+H77+WazMD776LCDLvv4nvv6VdQe+/su+/nTFd77+477+tZwnvv5rvv5koYu+/te+/omTvv67vv5Tvv4wzT++/uO+/sF8L77+h77+dKGHvv7nvv6JKMwHvv5AzV++/sO+/sGsJ77+V77+MM0/vvqzvv5RnQwPvv44kK+++ve++uirvv7zvv4LvvqHvv7cc776/776vKe+/vu+/h+++pg9P77+/77+0bz0D77+P77+8NO+/gO+/pGxDA++/jDcf776877+v</value>
        </setting>
        <setting name="Color" serializeAs="String">
          <value>Navy</value>
        </setting>
        <setting name="LinkSAT" serializeAs="String">
          <value>https://verificacfdi.facturaelectronica.sat.gob.mx/default.aspx?</value>
        </setting>
        <setting name="Origen" serializeAs="String">
          <value>PaxConectorFTPSantanderTUIIO</value>
        </setting>
        <setting name="LugarExpedicion" serializeAs="String">
          <value>01219</value>
        </setting>
        <setting name="TipoMultiPAC" serializeAs="String">
          <value>XML</value>
        </setting>
        <setting name="UsuarioMultiPAC" serializeAs="String">
          <value>AAA010101AAA</value>
        </setting>
        <setting name="PWDMultiPAC" serializeAs="String">
          <value>PWD</value>
        </setting>
        <setting name="Modo" serializeAs="String">
          <value>T</value>
        </setting>
        <setting name="RutaCertificado" serializeAs="String">
          <value>C:\Conectores FTP\generacion_timbrado_ftp_SantanderTUIIO40\Certificados\</value>
        </setting>
        <setting name="RutaOpenSSL" serializeAs="String">
          <value>C:\Conectores FTP\generacion_timbrado_ftp_SantanderTUIIO40\openssl\openssl.exe</value>
        </setting>
        <setting name="LogFolder" serializeAs="String">
          <value>C:\Conectores FTP\generacion_timbrado_ftp_SantanderTUIIO40\Log\</value>
        </setting>
        <setting name="MonitorFolder" serializeAs="String">
          <value>C:\Conectores FTP\generacion_timbrado_ftp_SantanderTUIIO40\Entrada\</value>
        </setting>
        <setting name="FolderSalida" serializeAs="String">
          <value>C:\Conectores FTP\generacion_timbrado_ftp_SantanderTUIIO40\Respuesta\</value>
        </setting>
        <setting name="FolderIncorrectos" serializeAs="String">
          <value>C:\Conectores FTP\generacion_timbrado_ftp_SantanderTUIIO40\Errores\</value>
        </setting>
        <setting name="FolderPendientes" serializeAs="String">
          <value>C:\Conectores FTP\generacion_timbrado_ftp_SantanderTUIIO40\Pendientes\</value>
        </setting>
        <setting name="FolderRespaldo" serializeAs="String">
          <value>C:\Conectores FTP\generacion_timbrado_ftp_SantanderTUIIO40\Respaldo\</value>
        </setting>
        <setting name="LogRespaldo" serializeAs="String">
          <value>C:\Conectores FTP\generacion_timbrado_ftp_SantanderTUIIO40\LogRespaldo\</value>
        </setting>
        <setting name="RutaCO" serializeAs="String">
          <value>C:\Conectores FTP\generacion_timbrado_ftp_SantanderTUIIO40\Generacion\</value>
        </setting>
        <setting name="RutaSello" serializeAs="String">
          <value>C:\Conectores FTP\generacion_timbrado_ftp_SantanderTUIIO40\Sello\</value>
        </setting>
        <setting name="Logo" serializeAs="String">
          <value>C:\Conectores FTP\generacion_timbrado_ftp_SantanderTUIIO40\Imagenes\LogoTrasparentPAX.png</value>
        </setting>
        <setting name="FolderCopia" serializeAs="String">
          <value>C:\Conectores FTP\generacion_timbrado_ftp_SantanderTUIIO40\EntradaCopia\</value>
        </setting>
        <setting name="RutaPEM" serializeAs="String">
          <value>C:\Conectores FTP\generacion_timbrado_ftp_SantanderTUIIO40\PEM\IIA040805DZ4_key.pem</value>
        </setting>
        <setting name="RutaCancelacionEntrada" serializeAs="String">
          <value>C:\Conectores FTP\generacion_timbrado_ftp_SantanderTUIIO40\Cancelaciones\Entrada\</value>
        </setting>
        <setting name="RutaCancelacionErrores" serializeAs="String">
          <value>C:\Conectores FTP\generacion_timbrado_ftp_SantanderTUIIO40\Cancelaciones\Errores\</value>
        </setting>
        <setting name="RutaCancelacionRespaldo" serializeAs="String">
          <value>C:\Conectores FTP\generacion_timbrado_ftp_SantanderTUIIO40\Cancelaciones\Respaldo\</value>
        </setting>
        <setting name="RutaDocsCancelacionError" serializeAs="String">
          <value>C:\Conectores FTP\generacion_timbrado_ftp_SantanderTUIIO40\Cancelaciones\TXTErrorCancelacion\</value>
        </setting>
        <setting name="RutaCancelacionSalida" serializeAs="String">
          <value>C:\Conectores FTP\generacion_timbrado_ftp_SantanderTUIIO40\Cancelaciones\Salida\</value>
        </setting>
        <setting name="RutaCancelacionLogRespaldo" serializeAs="String">
          <value>C:\Conectores FTP\generacion_timbrado_ftp_SantanderTUIIO40\Cancelaciones\LogRespaldo\</value>
        </setting>
        <setting name="RutaDocsCancelados" serializeAs="String">
          <value>C:\Conectores FTP\generacion_timbrado_ftp_SantanderTUIIO40\Cancelaciones\TXTCancelados\</value>
        </setting>
        <setting name="RutaCancelacionLog" serializeAs="String">
          <value>C:\Conectores FTP\generacion_timbrado_ftp_SantanderTUIIO40\Cancelaciones\Log\</value>
        </setting>
        <setting name="FolderProcesados" serializeAs="String">
          <value>C:\Conectores FTP\generacion_timbrado_ftp_SantanderTUIIO40\Procesados\</value>
        </setting>
        <setting name="URIMultiPAC" serializeAs="String">
          <value>https://pruebas.comercio-digital.mx/timbre4/timbrarV5</value>
        </setting>
        <setting name="HOSTMultiPAC" serializeAs="String">
          <value>pruebas.comercio-digital.mx</value>
        </setting>
        <setting name="IdPac" serializeAs="String">
          <value>3</value>
        </setting>
      </PAXConectorFTPGTCFDI33.Properties.Settings>    
  </userSettings>
</configuration>
