<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="wcfTimbrado.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <authentication mode="None"/>
    <authorization>
      <allow users="?"/>
    </authorization>
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" />
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wcfRecepcionASMXSoap">
          <security mode="Transport" />
        </binding>
        <binding name="wcfRecepcionASMXSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://test.paxfacturacion.com.mx:453/webservices/wcfRecepcionasmx.asmx"
        binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASMXSoap"
        contract="wsRecepcionTimbrado.wcfRecepcionASMXSoap" name="wcfRecepcionASMXSoap" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca el valor siguiente en false y quite el extremo superior de los metadatos antes de la implementación -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
 <applicationSettings>
  <wcfTimbrado.Properties.Settings>
   <setting name="Usuario" serializeAs="String">
    <value>WSDL_PAX</value>
   </setting>
   <setting name="Contraseña" serializeAs="String">
    <value>QWzFYy1GXAgSfwqSBs+a4Y3DAtAhjw6dvlT2Six3sOadt3C5TAdIDu3u1uBUgrsu</value>
   </setting>
   <setting name="LogError" serializeAs="String">
    <value>C:/LogError/</value>
   </setting>
   <setting name="Certificados" serializeAs="String">
    <value>C:/Certificados/</value>
   </setting>
   <setting name="Openssl" serializeAs="String">
    <value>C:/OpenSSL/</value>
   </setting>
  </wcfTimbrado.Properties.Settings>
 </applicationSettings>
</configuration>
