<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PAXRegeneracionBateriaGT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PAXRegeneracionBateriaGT.Properties.Settings>
            <setting name="RutaArchivos" serializeAs="String">
                <value>D:\PAXRegeneracionBateriaGT\Archivos Generados</value>
            </setting>
            <setting name="ArchivoTXT" serializeAs="String">
                <value>D:\PAXRegeneracionBateriaGT\Archivos TXT\</value>
            </setting>
            <setting name="Certificado" serializeAs="String">
                <value>D:\PAXRegeneracionBateriaGT\Certificados\aaa010101aaa__csd_01.cer</value>
            </setting>
        </PAXRegeneracionBateriaGT.Properties.Settings>
    </userSettings>
</configuration>