<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SolucionPruebas.Presentacion.TimbradoIBM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wcfRecepcionASMXSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfRecepcionASMXSoap1" />
                <binding name="wcfRecepcionASPELSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfRecepcionASPELSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ws.paxfacturacion.com.mx:453/webservices/wcfRecepcionasmx.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASMXSoap"
                contract="wsTimbrado.wcfRecepcionASMXSoap" name="wcfRecepcionASMXSoap" />
            <endpoint address="https://ws.paxfacturacion.com.mx:453/webservices/wcfRecepcionaspel.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASPELSoap"
                contract="wsTimbradoASPEL.wcfRecepcionASPELSoap" name="wcfRecepcionASPELSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <SolucionPruebas.Presentacion.TimbradoIBM.Properties.Settings>
            <setting name="SolucionPruebas_Presentacion_TimbradoIBM_wsTimbradoSVC_wcfRecepcion"
                serializeAs="String">
                <value>https://ws.paxfacturacion.com.mx:453/webservices/wcfRecepcion.svc</value>
            </setting>
        </SolucionPruebas.Presentacion.TimbradoIBM.Properties.Settings>
    </applicationSettings>
</configuration>