<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="wsPracticaTeamFoundation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wcfValidaASMXSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfValidaASMXSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://test.paxfacturacion.com.mx:454/webServices/wcfValidaasmx.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfValidaASMXSoap"
                contract="wsValidacion.wcfValidaASMXSoap" name="wcfValidaASMXSoap" />
        </client>
    </system.serviceModel>
    <userSettings>
        <wsPracticaTeamFoundation.Properties.Settings>
            <setting name="Correo" serializeAs="String">
                <value>gabriel.reyes@paxfacturacion.com</value>
            </setting>
            <setting name="rutaEntrada" serializeAs="String">
                <value>C:\PracticaTeamFoundation\Entrada\</value>
            </setting>
            <setting name="rutaXml" serializeAs="String">
                <value>C:\Temp\PracticaTeamFoundation\</value>
            </setting>
            <setting name="rutaTemporal" serializeAs="String">
                <value>C:\Temp\</value>
            </setting>
            <setting name="rutaSalida" serializeAs="String">
                <value>C:\PracticaTeamFoundation\Salida\</value>
            </setting>
            <setting name="rutaErrores" serializeAs="String">
                <value>C:\PracticaTeamFoundation\Errores\</value>
            </setting>
            <setting name="rutaLog" serializeAs="String">
                <value>C:\PracticaTeamFoundation\Log\</value>
            </setting>
        </wsPracticaTeamFoundation.Properties.Settings>
    </userSettings>
</configuration>
