<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PAXEntregaPendientesSAN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PAXEntregaPendientesSAN.Properties.Settings>
            <setting name="Conexion" serializeAs="String">
                <value>x/GtEgx0VGSac/pV/zFbaqZA24PaW3MYaYqGZpMVGlZE25AGRfmySjg1ijQxI1Tjnc072aUMCFN0hfjdufKgi7xxwXYZHUg4XVzfRRu2GmGfBL19kdU8e7v4GyWMTNF13yMMc2En5GEiF0BVY59qpTi4B3Z0XjlVIJmkTGkcjbLfJ+FsrcQuRFF5JV54UprWj3LMnbJVX324mDee/OGXFRbuY/8Y5jqaGprJ134KOxc0SmIupGUxwugqzT2K2gdVshXzwupv2/QY+HpSEdFqtCYbJkzt6RVueygEbKIbseu6iRB/aPdpZebi3mW8/wcJULviuJ3e4qgZU5z4hr1l5nqkNBFqBlctL5G29u4fHoU=</value>
            </setting>
            <setting name="RutaPendientes" serializeAs="String">
                <value>D:\Entrega de Pendientes\Pendientes\</value>
            </setting>
            <setting name="ConexionGrandes" serializeAs="String">
                <value>Hmr7HA6SSrAvNmg6eZqwgp198vZm8eVqtzGHPzjn7xhqsdpP0Z6QWohuWVW7awp9APqjlHAh+lcf/np0/eQcStrheJggbjIjSzHx5KLiioGUaKNf4zw3haHadXrf3Jdwif8vpNRKSOL/F4Esd2+HVCEyAOhxwyxywbe9DozHauVtNpY3WMot8M1z33hRuoGzbZn7K14J9LwUOMKaDiTSw+FGTMMoJsMuwVDw0yUVS2K7DCHM9hxnNkY7Uf6i5xAseK36ObPk//lsDbrw02IvqApYoudFTACfPt8BjDYmtE0WH0mAwHpVePIZYE1bnUV9fM8Li27Zf9CCPdMbJSJ7WAoPetyuZgefUIjHqBbeu++EuTES7KB7Z9qKAJsF61yw</value>
            </setting>
            <setting name="LimiteInfGrandes" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="LimiteSupGrandes" serializeAs="String">
                <value>2680</value>
            </setting>
        </PAXEntregaPendientesSAN.Properties.Settings>
    </userSettings>
</configuration>