<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClienteCancelacion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClienteCancelacion.Properties.Settings>
            <setting name="RutaCertificados" serializeAs="String">
                <value>D:\pfx\certificados\</value>
            </setting>
            <setting name="Rutapfx" serializeAs="String">
                <value>D:\pfx\</value>
            </setting>
            <setting name="RutaOpenSSL" serializeAs="String">
                <value>C:\OpenSSL-Win32\bin\openssl.exe</value>
            </setting>
        </ClienteCancelacion.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wcfCancelaASMXSoap" />
                <binding name="wcfCancelaASMXSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://test.paxfacturacion.com.mx:456/webservices/wcfCancelaASMX.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfCancelaASMXSoap"
                contract="SVCCANCELACIONPRUEBAS.wcfCancelaASMXSoap" name="wcfCancelaASMXSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
