#pnlModal div.modal
{
    width: 400px;
    height: 200px;
    border: 2px solid navy;
    background-color: White;
    font-family: 'Century Gothic';
}

 .modal2
{
  
    border: 2px solid navy;
    background-color: White;
    font-family: 'Century Gothic';
}

    .modalBackground
{
    position: absolute;
    z-index: 100;
    top: 0px;
    left: 0px;
    background-color: #000;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
    font-family: 'Century Gothic';
}
    
.style1
{
    width: 100%;
}