<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="AuthenticationBehavior">
          <clientCredentials>
            <clientCertificate findValue="d6 25 bc c3 0f e5 07 e7 63 a6 e0 46 b9 c7 43 a7 f6 46 6a 5b" x509FindType="FindByThumbprint" storeLocation="LocalMachine" storeName="My"/>
            <serviceCertificate>
              <authentication certificateValidationMode="PeerTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceAuthenticationSoap">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Certificate" algorithmSuite="Default"/>
            <!--<transport clientCredentialType="Certificate"></transport>-->
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1636/ServiceAuthentication.asmx" 
                binding="basicHttpBinding" bindingConfiguration="ServiceAuthenticationSoap"
                contract="wsServicioAutenticacion.ServiceAuthenticationSoap"
                name="ServiceAuthenticationSoap" />
    </client>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="System.Net" tracemode="protocolonly" maxdatasize="16384">
        <listeners>
          <add name="TraceFile"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="TraceFile" type="System.Diagnostics.TextWriterTraceListener"
        initializeData="trace.log"/>
    </sharedListeners>
    <switches>
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Sockets" value="Verbose"/>
    </switches>
  </system.diagnostics>
</configuration>