<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ClienteWebServiceRetenciones.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="conConfiguracion" connectionString="w4fDj8SmxJ7FlMSrxL/Fg8SAxZDvv6UK77+n77+9776o77+XNu+/rBMM77+Y77+Z7765776977+5776l77+S77+f776r77+K7767776y77+4776n77+X77+k7768Cu+/se+/uDDvv5gN77+J776277+977+877+lM++/pgjvv6bvvrbvv6Lvv4zvv40C77+HBhvvv6YF77+777+477+n77+KBgzvv6gO77+x77+4QO++l++/qhfvv5kL77+F77+YOe+/rAbvv6Tvv4gP77+t77+277+n77+A77+l77+m7762C++/tu+/qjDvv54WG++/lO+/v++/se+/szXvvrLvv7EK77+mD++/v++/sznvv5vvv57vv6/vvqfvv7/vv7zvv7k577+YGe+/mu++owrvv6fvv4c17769" providerName="System.Data.SqlClient"/>
    <add name="conInicioSesion" connectionString="woHCicOkwrvDosO2xJPDkcOqxI7vv6EnE++/rO++jgMG77+oDykE77+I776f77+p77+J776h77+O77+877+X7765776h77+e77+I776j77+TAe+/qO+/ue+/lyQA77+UCe+/pu+/ou+/rO+/ohED77+iBAPvv6Lvv5HvvrLvv7nvv5Lvv4MCOBLvv7Tvv6Ek776377+GAikU77+977+XJBDvvpPvv6Y0Be+/uu++qwQJ77+oAgHvv7Tvv77vv5Mi7763776877+hA++/qO+/ue+/lxMA77+i77+wKxLvv7Tvv50e77+S77+D77++ORIC77+dIu+/u+++sO+/oe+/uhPvv7rvv6Hvv7kF77+cAC8O77+e77+TIwDvv6ILDO+/k++/ru+/oiUJ77+UFe+/t++/j++/uQ==" providerName="System.Data.SqlClient"/>
    <add name="conConsultas" connectionString="wpXCncSQxJfDh8K3xIHEn8OsxJTvv4nvv59CP+++tO+/iRjvv7bvv7fvv6EzG++/he++r++/m+++r+++tu++tAYM77+H776k77+a776x77677765F0zvv73vv6oS77+i77+x776eET8I77+XFe+/sO+/rO++uxEk77+Y776/77+k77+R77+q77+wQUcH77+q77+J77+U77+q77+hQ1Dvv73vv6oi776h77+O77+sNE3vv5Hvv4ob77+277+q7765I1Hvv7nvv6jvv4nvv4rvv4nvvrsRTQLvv6ke77+t77+577+fQRnvv6Tvv5cc77+077+877+tQELvv5Hvvrzvv53vv6Tvv7nvv7NAPwzvvqfvv5nvv6/vv6Tvv6Hvv74s" providerName="System.Data.SqlClient"/>
    <add name="conTimbrado" connectionString="wpXCncSnw5fDocOJw6zCt8SQwqHvvrIfKC3vv4kx77+0ae+/oCEZCe+/mhfvvrci776f77+077+s77+677+cDO++tiTvvqTvv7nvv706ElLvv65V77+a77+e77+3LR0/77+xY++/le+/u++/txLvv60n77+ARO+/kzAnNRxS776lR++/kyEpPhJS77++FO++tywaO++/pjLvv7dp77+T77+5CT8OUO++pT3vvrLvv7sINRZA77+3Ve+/ki3vv68cClHvv7hr77+dMBgJ77+tEu+/uWPvv6ESHTkLUO+/pljvv50E77+oLx1T77+3Ve+/pu+/r++/pDo=" providerName="System.Data.SqlClient"/>
    <add name="conAuditoriasBD" connectionString="WGDCil/CjMKrfGnCnsKMMmcD77+wTlIF77+7RWgQ77+wTicFBUVqMu+/sEZSBUESSzQeJz7vv6Xvv7s7TBYGLEMtLSVwICNSJSkVFSTvv7fvv5xQZO+/pe+/u0Nu77+377+cTkLvv7FCRDAkI1IlMEJEMO+/vA4TJu+/pQMQOg4YKTLvv6oAIWMgI1IlKEJEMDwFK2cpAyU8BO+/tBMm77+lAh46P++/sB9ZJUAdcjwTK1jvv61CRC8E77+lKEIxPy89DSEvMCUeHHHvv70ZHjDvv6sOJmLvv7zvv7IgNiU/GSTvv7fvv5xOaQMZEG7vv7fvv5xRNi0+F2QaBitZAyUvSjojUibvv6oXHUw377+lJ1zvv6rvv74ZcxkaIGTvv6Xvv7tESzweLDItQyde77+377+cUVTvv6Xvv7tDTCHvv6o=" providerName="System.Data.SqlClient"/>
    <add name="conControl" connectionString="wozClMOTwrnElMKbwrHEjcOWw4Hvv70077+sUu+/u++/kiVAKzbvv50uDO++uO+/qO+/ue+/qgnvvrAfDu++re+/p++/u++/rw7vv4FfRO+/sx8sJe+/s+++u1JP77+gIjogEO++uzcf77+I77+xGx5F77+rWk7vv7Pvv5YeHjbvv61jRO+/sy/vv6sCQe+/nmAY77+TKEAeDu+/jWRA77+x77+WFO+/vRDvvrtgSe+/syg6JQ7vv4hSTu+/si06KzfvvrU3D++/oipAKzTvv7AiC++/rRUO77+pI++/qmAm" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true"></defaultProxy>
  </system.net>
    <system.serviceModel>
      <bindings>
        <wsHttpBinding>
          <binding name="Autenticacion.Retencion">
            <security mode="TransportWithMessageCredential">
              <transport clientCredentialType="None"/>
              <message clientCredentialType="Certificate"/>
            </security>
          </binding>
          <binding name="Autenticacion.Cancelacion">
            <security mode="TransportWithMessageCredential">
              <transport clientCredentialType="None"/>
              <message clientCredentialType="Certificate"/>
            </security>
          </binding>
          <binding name="basicWebApiAuthentication">
            <security mode="TransportWithMessageCredential">
              <transport clientCredentialType="None"/>
              <message clientCredentialType="Certificate"/>
            </security>
          </binding>
        </wsHttpBinding>
      </bindings>
      <client>
        <endpoint address="https://autenticaretencion.cloudapp.net/Autenticacion.svc" behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding" bindingConfiguration="Autenticacion.Retencion" contract="ServiceReference1.IAutenticacion" name="basicWebApiAuthentication"/>
        <endpoint address="https://autenticaretencioncancelacion.cloudapp.net/Autenticacion.svc" behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding" bindingConfiguration="Autenticacion.Cancelacion" contract="ServiceReference2.IAutenticacion" name="basicWebApiAuthentication1"/>
        <endpoint address="https://autenticaretencion.cloudapp.net/Autenticacion.svc" behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding" bindingConfiguration="basicWebApiAuthentication" contract="ServiceReference3.IAutenticacion" name="basicWebApiAuthentication2"/>
      </client>
      <behaviors>
        <endpointBehaviors>
          <behavior name="EndpointBehavior">
            <clientCredentials>
              <clientCertificate findValue="1b 59 93 cb dc 17 0d da 9f ca 8e d4 2c 97 28 3d 4b 4a bb 44" x509FindType="FindByThumbprint" storeLocation="LocalMachine" storeName="My"/>
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>
    </system.serviceModel>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <applicationSettings>
        <ClienteWebServiceRetenciones.Properties.Settings>
            <setting name="Salida" serializeAs="String">
                <value>C:\Users\Ivan.Hernandez\Documents\Escritorio 2018\Facturas Timbradas</value>
            </setting>
            <setting name="Logs" serializeAs="String">
                <value>C:\Users\Ivan.Hernandez\Documents\Escritorio 2018\Facturas Timbradas\Logs</value>
            </setting>
            <setting name="Acuses" serializeAs="String">
                <value>C:\Users\Ivan.Hernandez\Documents\Escritorio 2018\Facturas Timbradas\Acuses</value>
            </setting>
            <setting name="CFDI" serializeAs="String">
                <value>C:\Users\Ivan.Hernandez\Documents\Escritorio 2018\Facturas Timbradas\Mover CFDI</value>
            </setting>
        </ClienteWebServiceRetenciones.Properties.Settings>
    </applicationSettings>
</configuration>
