<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Revisa_GeneraXML.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Revisa_GeneraXML.Properties.Settings>
            <setting name="sRuta_Busqueda" serializeAs="String">
                <value>C:\Revisa_Genera\Busqueda\</value>
            </setting>
            <setting name="sRuta_Validados" serializeAs="String">
                <value>C:\Revisa_Genera\Validos\</value>
            </setting>
            <setting name="sRuta_Erroneos" serializeAs="String">
                <value>C:\Revisa_Genera\Erroneos\</value>
            </setting>
            <setting name="sRuta_Log" serializeAs="String">
                <value>C:\Revisa_Genera\Log.txt</value>
            </setting>
        </Revisa_GeneraXML.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
