<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="PaxApplicationPoolService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <PaxApplicationPoolService.Properties.Settings>
            <setting name="emailAppFrom" serializeAs="String">
                <value>cesar.rodriguez@paxfacturacion.com</value>
            </setting>
            <setting name="emailPassword" serializeAs="String">
                <value>P4ssw0rd.</value>
            </setting>
            <setting name="emailHost" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="emailPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="emailCC" serializeAs="String">
                <value />
            </setting>
            <setting name="emailCCo" serializeAs="String">
                <value>cesaralmaximo@gmail.com</value>
            </setting>
            <setting name="emailAsunto" serializeAs="String">
                <value />
            </setting>
            <setting name="emailMensaje" serializeAs="String">
                <value />
            </setting>
            <setting name="emailTo" serializeAs="String">
                <value>cesarrofi@gmail.com</value>
            </setting>
            <setting name="Intervalo" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="LogError" serializeAs="String">
                <value>C:\PaxApplicationPoolService\LogErrores\</value>
            </setting>
        </PaxApplicationPoolService.Properties.Settings>
    </userSettings>
</configuration>
