<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wcfRecepcionASMXSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="wcfRecepcionASMXSoap1"/>
                <binding name="wslModRevisaSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://test.paxfacturacion.com.mx:453/webservices/wcfRecepcionasmx2.asmx" binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASMXSoap" contract="Validacion.wcfRecepcionASMXSoap" name="wcfRecepcionASMXSoap"/>
            <endpoint address="http://localhost:1773/wslModRevisa.asmx" binding="basicHttpBinding" bindingConfiguration="wslModRevisaSoap" contract="wslModRevisaGenera.wslModRevisaSoap" name="wslModRevisaSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
