<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PAXServicioRecuperacionSOAP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
      <PAXServicioRecuperacionSOAP.Properties.Settings>
        <setting name="rutaLogs" serializeAs="String">
          <value>C:\rutaLogs\</value>
        </setting>
        <setting name="rutaXML" serializeAs="String">
          <value>C:\rutaLogs\prueba.xml</value>
        </setting>
      </PAXServicioRecuperacionSOAP.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wcfRecepcionASMXSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wcfRecepcionASMXSoap1" />
                <binding name="Service1Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://192.168.3.106:494/WebServices/wcfRecepcionASMX.asmx"
                binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASMXSoap"
                contract="wcfRecepcionASMX.wcfRecepcionASMXSoap" name="wcfRecepcionASMXSoap" />
            <endpoint address="http://192.168.3.106:8095/Service1.asmx" binding="basicHttpBinding"
                bindingConfiguration="Service1Soap" contract="ServiceReference1.Service1Soap"
                name="Service1Soap" />
        </client>
    </system.serviceModel>

  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="System.Net">
        <listeners>
          <add name="TraceFile"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="TraceFile"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="TraceFile" type="System.Diagnostics.TextWriterTraceListener"
        initializeData="C:\rutaLogs\trace.log"/>
    </sharedListeners>
    <switches>
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Sockets" value="Verbose"/>
    </switches>
  </system.diagnostics>
</configuration>
